[2016-03-12 09:30] sinkcup opened #1 "suggest: complete the docs"
I have read the docs, but can't find how to import and option's format.

maybe like this:

[code]

[2016-03-14 09:59] tbleckert commented on #1
Great suggestion! Will definitely focus on that, I'll keep you posted.

[2016-03-23 06:50] tbleckert commented on #1
Oh and also, you're doing it right @sinkcup . Keep in mind that you can add any keys and values you want to the option and use those in the different callbacks, take a look at the font example https://github.com/tbleckert/react-select-search/blob/gh-pages/bootstrap.js#L11

[2016-03-23 07:08] tbleckert commented on #1
Docs improved! Let me know what you think @sinkcup and close this if satisfied.

[2016-03-23 07:21] sinkcup commented on #1
Great!
suggestion: accent support React 0.14, now the notice is "React 0.12 ..." , if user look this page quickly, maybe think this is a old package only support 0.12.

[code]

[2016-03-23 07:24] tbleckert commented on #1
That's very true, thanks for that. Added now

[2016-03-23 10:57] sinkcup commented on #1
:+1:

[2016-03-23 10:57] #1 closed

[2016-04-27 04:07] abigwonderful opened #2 "Getting the value of the input"
Please excuse my ignorance if it's right in front of my face... vary new to react here!

After i've selected one of the options from the array, how do I access that value?

Any guidance much appreciated!

(in my case i'd like to update my state/redux store with the input value)

[2016-04-27 04:30] tbleckert commented on #2
The documentation could definitely say more.

 The react component renders an input element with the name equal to the name property. You can get the value from that element and it also works in normal form submits. If it's a multiple select, the component will render a hidden multiple select to mimic the values.

You can also use the event `valueChanged`. This is called when the value changes and

[2016-04-27 04:52] abigwonderful commented on #2
thanks for the quick response. That was exactly what i needed!
[code]

[2016-04-27 04:52] #2 closed

[2016-04-27 15:52] abigwonderful opened #3 "input 'deselect'"
Have a new issue that I'm hoping will be as quick to resolve as the last:

When I select an option the input is populated, but focus remains on the field and you can't actually see the text. If I click elsewhere on the page, then it shows, but without the click it makes for a wonky UX. Any thoughts?

[2016-04-27 16:06] colllin opened #4 "Keyboard usability issues"
When I use the keyboard to select an option (e.g. ArrowDown - ArrowDown - ArrowDown - Enter), the field is blurred.  So then when I push `tab` to get to the next field, nothing is focused, so it focuses on the first field in the page instead of the next field in the page.

![image](https://s3.amazonaws.com/f.cl.ly/items/0C2y2H3x1r340i152V1s/Screen%20Recording%202016-04-27%20at%2009.09%20AM.gif)

I

[2016-04-27 16:08] colllin commented on #4
Fixed GIFs.

[2016-04-27 16:22] tbleckert commented on #4
This should definitely be built in, thanks for reporting this. I will take a look first thing tomorrow and get back to you during the day. Nice hack btw.

[2016-04-27 16:31] tbleckert commented on #3
In which browser does this happen? Sounds like a bug if I don't misunderstand you. You should loose the focus when you select an option in the list. But I will fix it so the focus is kept but you should always see the value you selected (see #4)

[2016-04-27 17:15] abigwonderful commented on #3
chrome latest (Version 50.0.2661.86 (64-bit))
OSX 10.11.4 (15E65)

[2016-04-28 04:36] abigwonderful commented on #3
a screen capture of the funk i'm seeing

![screen cap](http://g.recordit.co/DHn3n2hIAL.gif)

[2016-04-28 04:45] tbleckert commented on #3
Hm ok, yes, that is a bug. Thanks for the demonstration, will take a look. Does the font selection in the demo page work for you? http://tbleckert.github.io/react-select-search/

[2016-04-28 05:15] abigwonderful commented on #3
Yes it does and actually after playing with its location on the page, I discovered that the issue lies in wrapping the component in <label> tags! Funny. no more issue with <label> removed. Easy fix, although i  don't fully understand why

[2016-04-28 05:21] tbleckert commented on #3
Nice, but it should of course work no matter what. Do you have some code you can share with me? The code you had when it was not working.

[2016-04-28 05:52] abigwonderful commented on #3
for what it's worth - using foundation6
[code]

[2016-04-28 05:58] tbleckert commented on #3
I think that it's the label that is the problem. Clicking a label sets focus to its connected input (input is connected either by `for`+`id` or by wrapping). So it's probably an event problem caused by the label.

Does it work if you wrap it with something different than a label?

Either way I will take a look at it, and this will possibly be fixed when #4 is solved

[2016-04-29 12:07] abigwonderful commented on #3
Yeah after sending that last comment I tried span, p, div and a few others without a problem. I think the inherent behavior of the label was the issue.

[2016-05-05 07:48] tbleckert commented on #4
I'm working on this but taking a little longer than expected, found a couple of other problems as well that needs to be fixed.

[2016-05-05 15:26] colllin commented on #4
Thanks for the update. Looking forward to this.

Collin
720-987-6472

On May 5, 2016, 1:48 AM -0600, tbleckert<notifications@github.com>, wrote:

[2016-05-14 19:37] abigwonderful opened #5 "clear input"
hey man,
i'm trying to think of a clever way to clear the input onclick (button). Any thoughts on the best way to approach this?

[2016-06-14 13:32] mertenhanisch opened #7 "cannot select the first item with keyboard"
Chrome 51, Firefox 46, Safari 9.0.3 on Mac OS 10.10.5
* visit [demo page](http://tbleckert.github.io/react-select-search/)
* click the country selection field
* type `ger`
* press down key once to focus `Germany`
* press enter

Result: Nothing happens
Expected behaviour would be that it selects `Germany` as it does when clicking the item.

[2016-06-14 14:09] tbleckert commented on #7
Thank you!

I'm about to release a new version that fixes a lot of stuff, will make sure this works in the new release. I decided to rewrite large portions of the code since there's still left overs from the es6 transition and also crappy focus management. I will keep you posted, thanks for reporting this.

[2016-06-14 15:14] mertenhanisch commented on #7
That sounds great! Any idea, when this might be coming out? Should I close this issue then or are you going to close it, when the new version is coming out (so others know, what is going on)?

[2016-06-14 16:04] tbleckert commented on #7
I'm keeping this open so we can close it when it's confirmed that this is no longer a problem in the new release. I'm hoping to finish this release by the end of this week

[2016-06-18 10:13] tbleckert commented on #3
I'm closing this one. I've released a new version with better focus handling. I decided to not this specific scenario but with the new focus handling you will be able to choose an option, even if the component is wrapped in a label. The only difference is that the dropdown won't close, since the label will reset the focus on the search field.

[2016-06-18 10:13] #3 closed

[2016-06-18 10:17] tbleckert commented on #5
Which input do you want to clear? Either way, the correct way of changing states in React is by doing a re-render. So I would suggest that the select search component is a child component of a larger component, a form for example. If the button lives in the same component, you could just have an onclick handler on it. If it's somewhere else you could just add an event listener.

Hope that answers

[2016-06-18 10:19] tbleckert commented on #7
I've release a new version now (0.5.0) that includes better keyboard handling. The demo page is also updated. If the issue is gone, please close this issue.

[2016-06-18 11:04] mertenhanisch commented on #7
Thanks a lot! It works now :)

[2016-06-18 11:04] #7 closed

[2016-06-19 11:16] tbleckert commented on #4
Sorry for the delay, wish I had more time to work on this :(

I've just released a new version. The new version includes improved focus management and other great stuff. You can now tab through the controls but what's still missing is that it doesn't put focus back on the search field after you have selected an option. Will release a patch in a day or two.

[2016-06-20 15:46] abigwonderful commented on #3
Sounds good!

[2016-06-20 16:32] abigwonderful commented on #5
Sorry wasn't very clear. Here is a visual to support.

Basically the issue I'm having is that a value is selected and added to a list. Once I've added it to the list, I want to clear it from the select-search input. You may notice that when I go to search for another name, the last selected stays at the top even though it does not match the input as I type.

Is there a native method to the select-

[2016-06-20 16:47] tbleckert commented on #5
There's no API to edit the state of the component. The correct way is to re-render the component. In your example, the select component and the button should be in a component.

[code]

Not tested but you get the idea. This component is meant to work as a child in another component, like the form you have. So the props acts as the API since it causes a rerender (when needed). Updating the value pr

[2016-06-30 23:17] TomCaserta opened #8 "A way to set a maximum display value for search boxes."
Currently I have a list of 800 items I wish to be able to fuzzy search. The issue arises that this of course is very slow to render and makes it generally sluggish.

I was wondering if there was a way to set a maximum amount of items to render at once. Of course this will mean a user will have to start typing first to filter through the results but it should mean it renders faster.

Thanks

[2016-06-30 23:19] TomCaserta opened #9 "Cannot change the options list after the component has been rendered"
Currently attempting to modify the options prop with my list in however it does not seem to work. I am loading the list dynamically and as such the option list can change. Is there any way of working around this?

If its by design then can I suggest you rename the options property to initialOptions or defaultOptions (which I believe react  ask you to do if it sets the value once and does not updat

[2016-07-01 17:00] tbleckert commented on #9
You should of course be able to change/update the options list, if it's not working then it's a bug. I will take a look at it tonight. Thanks for reporting it.

[2016-07-01 17:02] tbleckert commented on #8
I will take a look at the performance problem but a limit setting sounds like a good idea. Thanks! Feel free to submit PRs if you feel like it, all help is appreciated.

[2016-09-08 08:30] tbleckert opened #10 "Scroll to selected instead of moving it"
Instead of moving the selected option to the top, keep it in place but scroll to it when you open it.

[2016-09-29 11:19] Katu360 opened #11 "IE<10 compatibility"
Console Error:
`Unable to get property 'multiple' of undefined or null reference`

[2016-11-20 16:26] bruno-gouveia opened #12 "Clicking outside doesn't account for other selects"
If you open a select and then click on another, the first one doesn't close.

[2016-11-21 11:29] bruno-gouveia commented on #12
I made a pull request with a fix:
https://github.com/tbleckert/react-select-search/pull/13

[2016-11-23 08:18] tbleckert commented on #12
Merged in and published to npm. Great work, I really appreciate it!

[2016-11-23 08:18] #12 closed

[2016-11-23 08:23] tbleckert commented on #11
Thanks for the notice! At this point I have no plans to support IE<10. IE9 has a market share of around 6-7% and is slowly dying. A solution would be a fork or a separate branch with the relevant fixes. If you or anyone else wants to contribute, feel free to do so.

[2016-11-23 08:23] #11 closed

[2016-12-22 22:49] sontek commented on #4
@tbleckert You still working on this one?

[2017-01-18 19:07] xedef commented on #9
Any news on this one?

[2017-01-18 19:38] xedef commented on #9
I've created pull request #14 for this. Can you check it out, please?

[2017-01-18 19:52] tbleckert commented on #9
Thanks man @xedef ! And sorry for the delay @TomCaserta , it's been crazy at work lately. I will merge in the PR and publish it to NPM right away.

[2017-01-18 19:55] tbleckert commented on #9
Fixed with #14 and published

[2017-01-18 19:55] #9 closed

[2017-02-07 00:08] Dmitry1007 commented on #9
Maybe I'm missing something :( I'm passing an array to option from a parent component like so:

`<SelectSearch className="select-search-box" onChange={this.handleChange.bind(this)} options={this.props.displayTricks} ref="trickName" value="" name="tricks" placeholder="Search or Choose your trick" />`

But when I update `displayTricks` in the parent and re-render the child component `displayTricks`

[2017-02-07 11:13] tbleckert commented on #9
Since you are using props, you need to make sure that your own component updates the props when it should. Props is not updated automatically, you need to implement "componentWillReceiveProps". And also, I would write "displayTricks" to the state since it can be updated.

[code]

[2017-06-27 18:11] anavgagneja opened #18 "Keeping data not in search"
Is it possible for the user to enter customized data? For example if they're typing and the option they're looking for is not in the selection box, then they can still type it in. This way it could be used as more of a search box with suggestions from the selection rather than the other way around.

[2017-07-12 05:15] re5ive opened #19 "how to make select search as mandatory field?"
how do i make this field as mandatory? required

[2017-07-19 07:44] tbleckert commented on #19
Hi! Sorry for a slow reply. You should use the component as a subcomponent in a main form component. That way you can keep track wether it has a value or not and if not, do something. You can for example render it with a wrapper that gets an error class if form is submitted without it having a value. I hope that's what you mean. A simple example:

[code]

[2017-07-19 07:55] tbleckert commented on #18
Hi and sorry for slow answer, I'm partly having a summer break.

It's not currently possible but it sounds like a really good idea. I think a new property like "renderOptions" would be perfect for this. Currently, when the search field changes, we internally call [getNewOptionsList](https://github.com/tbleckert/react-select-search/blob/master/src/index.js#L471). It does a fussy search on the optio

[2017-07-21 17:58] anavgagneja commented on #18
Do you think it would work if I just add value at the top of the 'foundOptions' list in getNewOptionsList when there is no exact match?

[2018-04-26 01:35] kaiwen1811 opened #21 "add a pagination for search result"
hello, can u add a pagination for search result.

[2018-05-05 22:40] #19 closed

[2018-05-05 22:47] tbleckert commented on #18
@anavgagneja Yes, that would work but we wouldn't be able to control it in a different manner from the rest of the options.

I think the best solution for this would be to add a new property; `customEntries: PropTypes.bool` . If true, we display the value you write att the top of the list of options. In the `renderOption` method we need to know if it's a custom value or not. That way we can displa

[2018-05-06 14:38] tbleckert commented on #10
Fixed in v0.6.0

[2018-05-06 14:38] #10 closed

[2018-05-06 14:39] #5 closed

[2018-05-06 15:55] tbleckert commented on #21
Hi! Thanks for your suggestion. Not sure if that would be good UX, but might be. I'll let this sit here for a while and see if it gets enough upvotes.

[2018-05-08 07:16] tbleckert opened #22 "More tests"
Need to add more tests.

[2018-06-13 14:22] rob10e opened #23 "Allow virtualized options"
Great component, unfortunately I cannot use it with the size of the list I have. If the options could be virtualized, it would be perfect.

[2018-06-14 11:53] tbleckert commented on #23
Thanks! It has been on my agenda for a while. I think I was just waiting for someone to mention it as a kick in the butt..Shouldn't take too much time to implement. I'll keep you posted. Also feel free to send a PR if you want to.

[2018-06-24 12:46] rob10e commented on #23
Thank you. I look forward to using it when completed. :)

[2018-06-28 21:12] gdsdougherty opened #24 "State change update fails to change text"
We experienced an issue where changing the state value, that the value prop pointed at, to a blank string would change most aspects of the object, however the search input would not clear until a manual click was performed outside of the element.  Triggering a click via any other means would not cause a refresh, nor would any changes to the element via jquery or javascript.

The only thing that en

[2018-06-29 08:47] tbleckert commented on #24
Thanks for reporting it! Definitely a bug.

This seems to be the problem https://github.com/tbleckert/react-select-search/blob/master/src/index.js#L117 . Updates from outside of the component through props only causes a refresh when the focus changes.

[2018-07-02 15:53] PainKKKiller opened #25 "Uncaught TypeError: _react.default.createRef is not a function"
Nice component, but when I tried to use it in my project (react 16.2 version) I've got error

`Uncaught TypeError: _react.default.createRef is not a function
    at new SelectSearch (index.js?cd67:180)
    at new SelectSearch (eval at <anonymous> (utils.js?0184:112), <anonymous>:5:7)
    at constructClassInstance (react-dom.development.js?cada:6355)
    at updateClassComponent (react-dom.developme

[2018-07-02 16:02] PainKKKiller commented on #25
Am I right that it can't work with react versions lower than 16.3? Should it be pointed out in documentation?

[2018-07-03 08:17] PainKKKiller commented on #25
Anyway,  updated project to 16.3 and now when I click on component I getting another error:

`index.js?cd67:352 Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null
    at ProxyComponent.handleFocus (index.js?cd67:352)
    at ProxyComponent.componentDidUpdate (index.js?cd67:224)
    at commitLifeCycles (react-dom.development.js?cada:8778)
    at commitAllLifeCycles (react-dom.d

[2018-07-12 18:11] sgriffin916 opened #26 "Keyboard question"
When I type in a value in the search list on the demo page, should I be able to use the down arrow key to get to various items?  For instance, on the country one, if I type "Fr", I would expect to be able to hit the down arrow key and get to French Guiana.  Right now, the only way I see to select it is typing enough that it is the first item on the list or using the mouse.

Thanks!

[2018-07-27 10:33] Aeolun commented on #24
Any chance we'll see a fix for this? I thought this dropdown was a lot better than the one I used before, but it's a bit hard to use with this bug.

[2018-08-01 02:59] jonathancochran commented on #26
Seconding this.

It seems like this used to work but I'm experiencing the same issue in testing.

[2018-08-01 18:00] jonathancochran commented on #26
It turns out that the keyboard arrows works when you have items in groups. Probably a bug but you can work around it by putting your data in this format:
[code]

[2018-08-02 19:51] sgriffin916 commented on #26
Yep, that worked for me.  Thanks for the tip!

[2018-08-03 06:29] tbleckert commented on #26
@jonathancochran Nice! Probably got broken when I implemented the grouping functionality. @sgriffin916 I'll reopen this if it's ok so we can fix the bug. Also, thanks for reporting!

[2018-08-22 16:10] #21 closed

[2018-09-26 06:33] awesome1888 opened #27 "Unable to use the module in scss project"
Unable to use the module in scss project, it fails to compile when the file is included, because of the wrong @import format in the beginning of style.css file. Should be:

@import url('http://weloveiconfonts.com/api/?family=fontawesome');
instead of just
@import 'http://weloveiconfonts.com/api/?family=fontawesome';

[2018-11-20 11:49] DDushkin opened #28 "Problem with search"
Hi, in your documentation you said:
/**
 * The options array should contain objects.
 * Required keys are "name" and "value" but you can have and use any number of key/value pairs.
 */
So I added new key value pair to the option object (address: "hello@something")
And I render my options like this (attached screenshot) name, address and image
![image](https://user-images.githubusercontent.com/2599

[2018-11-23 12:04] tbleckert commented on #28
Hi @DDushkin , sorry for the late reply!

You are on the right path, you just need to configure the search options. You can pass a fuse configuration object like so:

[code]

[2018-11-24 11:12] DDushkin commented on #28
Thank you! It works now :)

[2018-11-24 11:12] #28 closed

[2018-11-26 08:02] tbleckert commented on #28
@DDushkin Glad to hear it!

[2018-12-19 09:49] glinkap opened #29 "How to autocomplete off"
How to setup autocomplete="off" ?

[2019-01-10 08:01] hiphapis commented on #24
Can i know progress this issue?

[2019-01-21 15:09] tbleckert commented on #29
Not possible at the moment but a great feature to implement.

[2019-01-21 15:11] tbleckert commented on #27
Hm yeah, not sure what to do here. The style.css is plain css so the import syntax is correct. It's also just an example style. Maybe add a style.scss as well, what do you think?

[2019-01-21 15:14] tbleckert commented on #25
Yes, you're correct, it doesn't support React versions that doesn't have the `createRef`. I'll close this issue for now, if you can describe the bug in more detail we can open it up and take a look at it.

[2019-01-21 15:14] #25 closed

[2019-01-21 15:16] tbleckert commented on #24
@hiphapis Looking at it this today so hoping to have a new version out by tomorrow with this fix and the other stuff in master.

[2019-01-26 01:37] tbleckert commented on #24
This has been fixed in v0.9.4, thanks for your patience!

[2019-01-26 01:37] #24 closed

[2019-02-07 14:29] tbleckert commented on #26
Fixed in #32

[2019-02-07 14:29] #26 closed

[2019-02-13 12:20] tbleckert commented on #22
I'll consider this done for now due to the amazing work from @coxdn in #33 . I also added a coverage badge so we look cool.

[2019-02-13 12:20] #22 closed

[2019-02-21 06:52] waqaramjad commented on #25
facing same issue

[2019-03-16 07:37] huiman opened #35 "have problem with set default value when options feed from AJAX"
please help
 var options = this.state.LGs
      ? this.state.LGs.map(function(LG) {
          return {
            name: LG.StructName,
            value: LG.StructID
          };
        })
      : [];

    <SelectSearch
            name="LG"
            value={this.state.LG}
            options={options}
            placeholder="Select LG"
          />

I could not set default value.
the error s

[2019-04-15 11:20] ranjan-baral opened #36 "disable select box is not working"
Can you please let me know how will i disable selectbox in this component?

[2019-04-15 17:20] javeedrahman opened #37 "How to make always options open"

[2019-07-18 23:41] alandoyle95 opened #39 "Disable Option but keep it shown but not selectable"
just like the normal multi select, shadowed out options would be nice to have

something like:
[code]

[2019-07-24 10:47] shashidhar-slk opened #40 "Dropdown is not flexible"
Hi Team,
having issue with dropdown -> Onclick dropdown list open after based on the screen it has to adjust but its always dropdown list will open down side only can any one help me

[2019-07-30 03:55] signaturehd commented on #36
It would be a great update if you add this feature.

[2019-08-01 08:25] tbleckert commented on #40
Do you mean that you want it to open up instead of down if the select box is too close to the bottom of the screen? That's not possible atm but a good feature and we'll look into it asap.

[2019-08-12 16:21] YoniRoussel opened #41 "Wrong reorder on search"
Hi,

We're using the component to create an easier way to search in a long list of options.
Everything works ok, however, the order of the items is being changed on search.

For example search for "a" will add Yan before Cora.
Is there a way to make sure that the items will remain in alphabetical order?

Kind regard,

[2019-08-19 02:01] arthurgeron opened #44 "Not Rendering Correctly"
It is rendering all the options as pure text and displaying them even when the input isn't selected.
Something isn't right.
![image](https://user-images.githubusercontent.com/3487334/63234293-0375ee80-c20b-11e9-82fc-83219bff171b.png)

You can see the problem in this small example project:
[![Edit A Simple React Router v4 Tutorial](https://codesandbox.io/static/img/play-codesandbox.svg)](https://co

[2019-08-19 02:03] arthurgeron commented on #44
Nevermind, just found out I didn't import the css style thing, this could be imported automatically or maybe that information could be more clear (more torward the top of the  README)?
Anyway thanks.

[2019-08-19 02:03] #44 closed

[2019-08-31 02:35] JetCrazy opened #45 "Searching large data."
I have an Select with about 2,900 names. The search is not refined.
![image](https://user-images.githubusercontent.com/33587293/64058244-5ab68000-cb76-11e9-98e5-717c0f094482.png)
![image](https://user-images.githubusercontent.com/33587293/64058249-5f7b3400-cb76-11e9-96f7-684831e6b826.png)
If I backspace the search also gets really confused and messes up.

[2019-09-04 07:37] tbleckert commented on #45
Hi! You can try tweaking the fuzzy search settings to be more strict. The default is a threshold of 0.3

[code]

You can check https://fusejs.io/ for complete set of options you can pass in. Hope that helps.

[2019-09-06 04:37] JetCrazy commented on #45
Thanks for reply. Changing fuse settings in the dist and regular package did not work. the search is still not good. I tried with just fuse on there site and it gave me the expected output

[2019-09-06 16:46] JanKaifer opened #46 "PropTypes not working properly"
I have forgottent to specify `options`.

## Expected:

propTypes would say that options are required.

## Actual:

[code]

[2019-09-17 16:35] colin-nolan commented on #37
It looks like the only way to achieve "always open" functionality is with `multiple=true`.

What I'm looking for is like the friend selection box on the [example page](http://tbleckert.github.io/react-select-search/) but **not** with multiselect.

[2019-10-02 08:42] iv-med opened #47 "How to make id for element?"
Hi everybody,
How to assign id to SelectSearch element?

[2019-10-04 02:16] Darshan-Chauhan commented on #29
@tbleckert  and @glinkap , I think we can close this issue now.

[2019-10-04 06:28] Darshan-Chauhan commented on #46
@JanKaifer , can you please provider reproduction?

[2019-10-05 07:59] JanKaifer commented on #46
Just ommit `options` and you should get this error.

[2019-10-09 05:03] hatyaiapp commented on #2
@tbleckert `valueChanged` is not working now. what should I do

[2019-10-10 10:29] ulugbekrozimboyev opened #51 "How use `id` filed as option value ?"
Hello everyone.
In my case I have a list of objects like that:
`[{  id: 1, first_name: 'anyname'} , ... ]`

I have

 `<SelectSearch
                            name="userId"
                            className="select-search-box"
                            // multiple
                            value={0}
                            height={172}
                            customEntries={true}

[2019-10-10 12:14] tbleckert commented on #51
Hi @ulugbekrozimboyev !

The `value` property is required in the options objects. `renderValues` is also not an available prop, so that function won't do anything.

I suggest you map your options array before you pass it.

[code]

I hope that helps. Let me know if the documentation is unclear about something. You are allowed to pass whatever props you want in your options, but they're are only use

[2019-10-10 12:19] tbleckert commented on #29
@Darshan-Chauhan Correct, great work! I've published v0.10.1 that includes your fix for this.

[2019-10-10 12:19] #29 closed

[2019-10-10 12:23] tbleckert commented on #37
@javeedrahman @colin-nolan So basically the looks of the multiselect but where you can only select one option?

[2019-10-10 12:28] tbleckert commented on #45
@JetCrazy You can pass the fuse options as a prop to the select. You don't need to rebuild the package.

[code]

[2019-10-10 12:28] tbleckert commented on #27
Closing this due to inactivity.

[2019-10-10 12:28] #27 closed

[2019-10-11 11:09] ulugbekrozimboyev commented on #51
Thanks bro, it's working

[2019-10-11 11:35] tbleckert commented on #51
@ulugbekrozimboyev Awesome!

[2019-10-11 11:35] #51 closed

[2019-10-13 12:45] ulugbekrozimboyev opened #52 "Keep getting error on select"
The issue start to occured from 10.1 version.  message is:
`Uncaught TypeError: this.state.value.slice is not a function`
My code is below:
[code]
I roll bact to 9.6 version it is fixed.

[2019-10-14 13:03] Arnique opened #53 "Wrong selection when option's value is zero"
Selecting an option with zero as value triggers the selection of the first option(index 0) e.g

[code]
I'm assuming there's truthy check for null values in the code that gets tripped when it encounters a zero.

[2019-10-14 18:31] tbleckert commented on #53
@Arnique Good catch and thanks for reporting. I'll fix it as soon as I can

[2019-10-15 12:57] colin-nolan commented on #37
Yes :)

[2019-10-17 08:31] subhendukundu opened #54 "How to customise the chevron icon for the dropdown?"
Is there a way to change/pass the chevron icon as an HTML element? I want to replace it with a svg icon I have. How do I do that?

[2019-10-17 09:03] tbleckert commented on #54
@subhendukundu This is something I'm working on. As of now, there's very limited options regarding changing the markup. Right now you have two options. The first is you can use your svg as a background image using CSS. The other option is to extend the `SelectSearch` class and override the `renderSearchField` method to render your own HTML.

[2019-10-21 20:46] renanogueira commented on #37
Indeed also :(

[2019-10-22 13:49] TapanChoudhary opened #55 "Could not find a way to disable the dropdown"
There is no property for disabling the drop-down.

[2019-10-22 13:52] TapanChoudhary opened #56 "Dropdown option fails to close automatically when selecting the selected option again."
Refer to - http://somup.com/cq63Isfc5a

[2019-10-22 14:03] TapanChoudhary commented on #54
Hi @subhendukundu  You can do this by updating the css file.
Replace content property with your desired icon.

.select-search-box::after {
        font-family: fontawesome;
        content: **_"\f0d7"_** ;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        text-align: center;
        line-height: 50px;
        color: #222f3e;
        z-index: 1;
    }

[Here

[2019-10-22 14:08] TapanChoudhary commented on #40
We can achieve that by appending the class(drop-up) by getting the location of our drop-down element, and then adding below code in our CSS.

.drop-up.select-search-box__select {
  top: auto;
bottom:60px;
}

So far I could not find a way to append the class, If you can tell ho can I append the class then we can knock that out,

[2019-10-22 15:45] dandv opened #57 "Comparison with react-select"
Hi, I was looking for a React select component, and found this library. Thanks for publishing it!

Would you be able to compare it with some of the other React select libraries? How would a developer choose between it, and [react-select](https://github.com/JedWatson/react-select) for example?

[2019-10-22 17:28] tbleckert commented on #57
Hi @dandv !

react-select has a lot more features whilst react-select-search aims at simply being a drop-in replacement for select boxes. So it really depends on what you need. If all you need is a searchable selectbox and you care about bundle size, then I suggest you give us a try. If you need a feature rich select component with a large community behind it I would go with react-select.

I'm gla

[2019-10-22 22:16] tbleckert commented on #55
@TapanChoudhary I'm working on this and it will be released soon. Closing because duplicate https://github.com/tbleckert/react-select-search/issues/36

[2019-10-22 22:16] #55 closed

[2019-10-23 06:59] tbleckert commented on #56
@TapanChoudhary Ah yes. It only closes on changes. But yeah, we should probably close it either way.

[2019-11-05 17:51] madacol opened #58 "weloveiconfonts.com is down"
style for loading icons is not working

[2019-11-07 19:45] JetCrazy commented on #45
@tbleckert after taking a few weeks break from coding and finally getting back into everything and getting the same problem after some investigation I narrowed it down to the renderOptions(),
![image](https://user-images.githubusercontent.com/33587293/68421889-1e526200-016d-11ea-8229-d152a615a6dc.png)
this is the response fuse responds with yet the output on my page is:
![image](https://user-image

[2019-11-18 17:05] Phon1209 opened #60 "Can't get selected value."
Sorry for a silly question, but I can't figure how to get value from it.

[2019-11-19 08:18] tbleckert commented on #60
@Phon1209 Not a silly question at all. You get it by setting an `onChange` handler. Like this:

[code]

[2019-11-19 08:27] tbleckert opened #61 "Test v1"
A new version under the `next` branch (and react-select-search@next on npm) is ready for test and will be the new v1. It contains major refactoring and API changes, so migration guide is still left to write. This is also a good place to discuss design decisions.

[2019-12-11 21:52] ning-liu-uk opened #62 "default value does not set properly."
A really cool project, love it. does exactly what I need.

Might find a defect, my test case: first init with empty value/options, then pass in valid value/options,  after re-render, default value would not show properly.

Potential fix as following marked part, should use options from newly passed in props  check if new value is valid.

Ning.

 componentWillReceiveProps(nextProps) {
        const

[2020-01-03 22:16] consciousweb opened #64 "How to change state value by entry?"
How can you write create a typical react input workflow with react-select-search? onChange is only fired on selection, not keypress so I cant access a state/update state stored value and have to use jquery to select the value if on non selected values.

[2020-01-07 14:22] fluse opened #65 "Warning: componentWillReceiveProps"
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

Should be fixed in the next version

[2020-01-16 08:13] KienPM opened #66 "Got error when using number as value"
I got this error when using number as value
[code]
I think this line cause the error
[code]
Hope that you can update it! Thank you so much!

[2020-01-21 10:35] abhishekrajawat commented on #35
Same issue with me. Any solution?

[2020-01-23 15:03] MWalid commented on #54
Any updates on this issue?

[2020-01-23 15:12] tbleckert commented on #54
@MWalid Yeah, sorry, been a few busy months. I'm working on a rewrite in the `next` branch. You can try it out right now with `npm i react-select-search@next`, although I haven't written a migration guide yet.

In the new version you get more control in the rendering callbacks and you can also use it in headless mode using hooks to fully control the rendering. I'll update this issue once it's in t

[2020-01-24 14:32] MWalid opened #67 "Feedback message when no search results found"
Currently when no matched results found, the component doesn't show any feedback message.

An empty box, as it's shown in [the official demo](https://imgur.com/a/fYrRAZY).

Is it possible to add a feedback message, something like: "No results could be found" or some customizable message?

Thank you,

[2020-01-28 03:07] hendiche opened #68 "Implement with Typescript"
Hi, when I tried `react-select` is a bit complicated for me and looks like a big bundled. So I searched this package and try it, but I have problem in typing of Typescript.
I would like to ask is there's any support for Typescript?

[code]

package.json
[code]

I'm sorry I'm still beginner

[2020-02-05 14:45] tbleckert commented on #68
Hi!

I haven't implemented declarations yet. Meanwhile you should be able to bypass the error by adding:

[code]

To a `global.d.ts` file in your project root.

[2020-02-21 08:31] aTrueSeeker opened #69 "Warning: Encountered two children with the same key, `[object Object]-option`. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version. in ul (created by SelectSearch) in div (created by SelectSearch) in div (created by SelectSearch)"
THis happens when i give value in options as JSON object

[2020-03-05 20:00] sjw441500 commented on #69
same issue

[2020-03-05 20:24] sjw441500 commented on #69
you may add a 'value' attribute to each of your data items.

[2020-03-16 13:07] MWalid commented on #35
Same here

[2020-03-18 09:29] charan220 opened #70 "How to display the selected value from the array in Searchinput after onChange is not Working!!!!"

[2020-03-18 10:54] #70 closed

[2020-03-18 16:36] aethelz opened #71 "Backspace doesn't clear options properly"
v1.0.2 does not properly resets option list on backspace before sending it to fuse.

![Peek 2020-03-18 19-33](https://user-images.githubusercontent.com/10677343/76984067-65d4d000-694f-11ea-928e-dabdef2e1c1d.gif)

Minimal reproducible case based on live-demo example code:
https://stackblitz.com/edit/react-7u9dx3

[2020-03-18 17:26] aethelz commented on #71
It seems that using `FlattenOptions(defaultOptions)` instead of `flat` here fixes it, but it might me a crude solution to it:

https://github.com/tbleckert/react-select-search/blob/master/src/useSelect.js#L80

[2020-03-24 16:51] adaddeo opened #74 "`onChange` missing in headless mode"
Thanks for the great library.

I'm running into an issue using the `useSelect` hook where I'm unable to provide an `onChange` function for the when the value changes. I tried passing it into `useSelect` but I see it's not a supported option.

Is this something that can be added or is there another preferred way to fire a function after a change in headless mode?

[2020-04-06 04:00] oyeanuj opened #75 "Close multi-select"
Hi @tbleckert, thank you for creating this useful library!

Similar to #37 and #56 , this question also relates to closing. I'm wondering how do I make a multi-select  be a dropdown and close after selection (or with an 'X'). FWIW, most libraries like `react-select` or `react-super-select` allow you to have a dropdown, select multiple and then close the dropdown.

Any thoughts on how to make this

[2020-04-06 04:19] oyeanuj opened #76 "Syntax errors with NextJS"
Hi @tbleckert, I'm unable to get it to work with NextJS, seeing the errors below. Any thoughts on how to fix them?

[code]

[2020-04-09 07:04] karthicktam opened #77 "How to pick and style input with error brorder when validating"

[2020-04-09 20:11] luiza-avelino opened #78 "Invariant Violation: View config not found for name input. Make sure to start component names with a capital letter."
ScreenShot:
![WhatsApp Image 2020-04-09 at 17 04 50](https://user-images.githubusercontent.com/53008706/78936119-57786080-7a84-11ea-8958-e1a42301c033.jpeg)

Component:
<SelectSearch
          options={this.ocupacaoOption}
          value={this.state.membro_ocupacao_id}
          placeholder="Escolha a ocupação"
          onChange={(itemValue, itemIndex) => this.setState({ membro_ocupacao_id: itemV

[2020-04-13 13:58] #78 closed

[2020-04-14 23:23] sknutsonsf commented on #69
I am still seeing this message using a three-level structure.  Everything has a unique value.  Here is an example of the options:

[
  {
    "name": "My Mountain",
    "value": "ranch_854",
    "type": "group",
    "items": [
      {
        "name": "East Almonds",
        "value": "block_3332",
        "type": "group",
        "items": [
          {
            "name": "East Almonds (2020 Season)

[2020-04-15 16:08] #77 closed

[2020-04-20 18:25] AleksaCorona opened #80 "Placeholder not working"
Hello! I have installed react-select-search in my create-react-app application. I have used this simplest example you have provided and haven't changed anything.

But whatever I try and do placeholder won't show, please please let me know how can I fix it so I can add placeholders before the option is selected.

[2020-04-22 04:11] AleksaCorona commented on #80
is there anyone that can provide any answer?

[2020-04-22 04:23] #80 closed

[2020-04-26 13:56] #60 closed

[2020-04-26 13:56] #57 closed

[2020-04-26 13:57] tbleckert commented on #53
Fixed in v1

[2020-04-26 13:57] #53 closed

[2020-04-26 13:57] #47 closed

[2020-04-26 13:59] tbleckert commented on #54
Fixed in v1

[2020-04-26 13:59] #54 closed

[2020-04-26 14:00] tbleckert commented on #39
Disable property is available now on both options and the selectbox itself

[2020-04-26 14:00] #39 closed

[2020-04-26 14:00] tbleckert commented on #36
Fixed in v1

[2020-04-26 14:00] #36 closed

[2020-04-27 01:32] MWalid commented on #54
Thank you @tbleckert, will give it another try.

[2020-04-30 07:41] ishouvik commented on #76
Yup, I can confirm the same issue for my SSR implementation as well.

[2020-04-30 07:46] tbleckert commented on #76
If you're using it with SSR you need to use the commonjs build,

[code]

Let me know if that works and if you encounter any other problems, I haven't had a chance to test to render it server side yet, but shouldn't be any problem as I don't use any browser API's on first render.

[2020-04-30 09:50] ishouvik commented on #76
Thank you very much. It works.

The CSS has to be loaded separately though.

It will be fun to use the headless part of this package with ChakraUI.

[2020-04-30 22:31] tbleckert commented on #76
Yeah, you can import it but you would have to map the classes by importing it like this:

[code]

And then pass a function as the className as described [here](https://github.com/tbleckert/react-select-search#custom-class-names).

ChakraUI integration sounds interesting, let me know if you make something!

[2020-05-03 15:24] tbleckert commented on #4
Fixed in v1

[2020-05-03 15:24] #4 closed

[2020-05-03 15:25] tbleckert commented on #35
Fixed in v1

[2020-05-03 15:25] #35 closed

[2020-05-03 15:28] tbleckert commented on #65
Fixed in the latest version as we've now switched to hooks and functional components

[2020-05-03 15:28] #65 closed

[2020-05-04 09:51] tbleckert commented on #56
This is fixed in v1

[2020-05-04 09:51] #56 closed

[2020-05-04 09:52] tbleckert commented on #75
Hi @oyeanuj . The primary goal of this component was to mimic the behavior of the built in HTML select, that's why I wen't with that design decision. But there is ways to make this happen.

Right now you have to alternatives to add this behavior yourself.

1. Styling. You can simply hide the select area and display it on focus. On focus, the element gets the class `has-focus`. And multi selects al

[2020-05-04 09:54] tbleckert commented on #52
Fixed in v1

[2020-05-04 09:54] #52 closed

[2020-05-04 14:32] tbleckert commented on #75
A third option added to v1.2. You can now set `printOptions` to `on-focus`. This will only render the options list if the select has focus. Other options are: auto, always, never.

[2020-05-04 14:32] #75 closed

[2020-05-04 14:33] tbleckert commented on #37
Sorry for the delay on this. I've added a new option in v1.2 that solves this. You can now set `printOptions` to always, to always render the options list.

[2020-05-04 14:33] #37 closed

[2020-05-04 14:34] tbleckert commented on #46
@JanKaifer Thanks for reporting. The options property is now required and should throw an error in dev mode.

[2020-05-04 14:34] #46 closed

[2020-05-04 14:36] tbleckert commented on #62
@ning-liu-uk Thanks for the kind words and for reporting. This issue is solved in v1 along with lots of other improvements.

[2020-05-04 14:36] #62 closed

[2020-05-04 14:36] #61 closed

[2020-05-04 14:41] tbleckert commented on #69
@sknutsonsf I can not reproduce this in v1.2. Would you be able to check if this is still an issue? Groups uses a unique group ID for the key and options uses their value as the key. Option values has to be unique for other reasons than this.

[2020-05-04 14:44] tbleckert commented on #64
I'm not sure what your intentions are, but you can use the headless mode to fully control the component. The input value is available in the snapshot and updates on input.

[2020-05-04 14:44] #64 closed

[2020-05-04 14:50] tbleckert commented on #74
This was fixed in v1.0.4, you can now pass a function that triggers on change:

[code]

The selected value is also available in the snapshot returned by the hook. So you could use the `useEffect` hook to run code when that changes. Like this:

[code]

[2020-05-04 14:50] #74 closed

[2020-05-04 14:54] tbleckert commented on #71
Issue has been fixed. See comment in PR for more info

[2020-05-04 14:54] #71 closed

[2020-05-08 12:55] mohammed-adil opened #81 "Setting the state onChange with getOptions()"
Hey @tbleckert, With `getOptions` prop once we fetch the list and select an option, how are we supposed to update some (eg: drink) state with the `onChange` method. Cause whenever I try to update a state with onChange event the input field doesn't get updated.

Here's what I'm trying to achieve: https://codesandbox.io/s/eloquent-cherry-u3zm6

[code]

[2020-05-08 12:59] tbleckert commented on #81
@mohammed-adil The second argument in the onChange handler is the complete option object (including any optional key/values you might have there). So:

[code]

Hope that answers your question.

[2020-05-08 13:00] tbleckert commented on #81
Ah sorry, misread the problem. You meant that the selectbox is empty after you select the option?

[2020-05-08 13:11] tbleckert commented on #81
Found the issue, working on a fix

[2020-05-08 17:15] mohammed-adil commented on #81
Thanks for the quick response @tbleckert.
Will wait for the fix 🌟

[2020-05-08 17:41] tbleckert commented on #81
@mohammed-adil Just published a new version, v1.2.1. Could you verify that the issue has been resolved and then close the issue if so?

Thanks for reporting!

[2020-05-08 19:59] mohammed-adil commented on #81
@tbleckert everything seems to be working fine 💯. Thanks for the quick fix ⚡

[2020-05-08 19:59] #81 closed

[2020-05-15 14:07] OmarRhinoActive opened #82 "React Warning given when updating state through onChange"
When trying to update component state like this(where setVar is a set function returned from a call to `useState`):
[code]

The state is updated but the following React warning appears:

`Warning: Cannot update a component from inside the function body of a different component.`

This is a new warning as of React 16.13 and there's some documentation and potential solutions here:  https://reactjs.o

[2020-05-18 07:42] #69 closed

[2020-05-19 01:05] JoueBien commented on #76
Please update the read me to include something like:

If your using SSR where the CSS has to be included elsewhere you'll need to import using:
[code]

And then pass a function as the className as described [here](https://github.com/tbleckert/react-select-search#custom-class-names).

[2020-05-19 01:38] JoueBien opened #83 "renderOption renderValue won't stop re rendering"
Un-able to set options and use the custom render options because the options are constantly getting re-drawn. This causes the scroll box  force relocate to the top after the scroll event has finished and for for the options to become un-clickable

importing the select field using
[code]

[2020-05-19 01:46] JoueBien commented on #83
At the moment the issue looks like it has been introduced after
commit e799dcd9104309096c4c2a38bc21e86bfe00703a

You can get around this issue using a manual install of an older build
[code]

[2020-05-19 03:12] NawazKhanMd opened #84 "View Config getter callback for component 'input' must be a function (recieved undefined)"
![image](https://user-images.githubusercontent.com/15027672/82280262-1ab95680-99ac-11ea-94f0-e60dfa3cf65b.png)

Just copy pasted the demo code its giving error

![image](https://user-images.githubusercontent.com/15027672/82280392-69ff8700-99ac-11ea-90c8-8950335f3955.png)
![image](https://user-images.githubusercontent.com/15027672/82280501-9d421600-99ac-11ea-961a-1b9b055e2ef5.png)

[2020-05-19 09:25] tbleckert commented on #83
@JoueBien Which version are you running? v2.x or v1.x?

[2020-05-19 09:25] tbleckert commented on #82
@OmarRhinoActive This was fixed in v2.0.1

[2020-05-19 09:25] #82 closed

[2020-05-19 09:39] tbleckert commented on #84
@NawazKhanMd This component is unfortunately not built for React Native. You could use the the hook though and build your own view components.

[2020-05-19 09:39] #84 closed

[2020-05-19 09:54] tbleckert commented on #58
@madacol Thanks for reporting! Demo site changed, this is not an issue anymore.

[2020-05-19 09:54] #58 closed

[2020-05-19 09:58] JoueBien commented on #83
I was running 2.x latest. I've had to drop back to the last 1.0. 2 build because of this issue.

[2020-05-19 14:15] tbleckert commented on #83
@JoueBien Ok, I'll take a look. Please create a reproducible test case on codesandbox if you have the time.

[2020-05-19 16:56] tbleckert commented on #76
Documentation updated, closing this.

[2020-05-19 16:56] #76 closed

[2020-05-19 17:13] tbleckert commented on #45
@JetCrazy Lots of refactoring and improvement went into the v1 and v2 releases. Can you check if this is still an issue for you, and if so, can you create a test case on codesandbox?

[2020-05-19 17:13] #45 closed

[2020-05-25 20:42] Russ93 opened #86 "TypeError: Cannot read property 'value' of undefined"
Issue occurs when you press enter on the search field

https://react-select-search.com/?path=/story/multiple-select--search
[code]

PR https://github.com/tbleckert/react-select-search/pull/85 should fix this issue

[2020-05-27 19:39] #68 closed

[2020-06-05 13:44] matheus-garcia commented on #66
yeah, had to use toString() to handle that.

[2020-06-05 14:25] matheus-garcia opened #87 "closeOnSelect is not working on multiple search on-focus"
Passing the property  closeOnSelect={false} is not keeping the modal open.

i'm using it like this:

[code]

[2020-06-05 14:49] matheus-garcia commented on #8
was this implemented?

[2020-06-08 06:57] tbleckert commented on #87
Thanks for reporting, I'll take a look during the day

[2020-06-15 15:36] ra-stevenli commented on #86
Following the PR link shows it as being merged into master but I still see this issue locally when I try to use the SelectSearch in my project.

[2020-06-16 11:42] alihamuh opened #89 "multiple is not working with getOptions"
When I use getOptions with multiple like this:

[code]
I get the error:
TypeError: option is undefined0.chunk.js:33109:69
    getOption http://localhost:3000/static/js/0.chunk.js:33109
    find self-hosted:340
    getOption http://localhost:3000/static/js/0.chunk.js:33109
    map self-hosted:240
    getOption http://localhost:3000/static/js/0.chunk.js:33109
    option http://localhost:3000/static/

[2020-06-25 20:28] tbleckert commented on #86
@ra-stevenli @Russ93 I've published a patch (2.0.4) that includes the fix from the PR

[2020-06-25 20:28] #86 closed

[2020-06-25 20:29] ra-stevenli commented on #86
@tbleckert thank you!

[2020-06-26 21:53] vvo opened #93 "Accessibility information"
Hi there, thanks for this library, it has the good defaults I would expect from a nice combobox.

I have one question: how accessible is the library really? I am only asking because all other libraries like downshift and react-select are heavy on all the "aria*" properties, while there's none in your module.

I am mostly being curious, I have 0 accessibility knowledge and would like more informati

[2020-06-27 00:00] vvo opened #94 "SelectSearch inside of div tabIndex={0} has bad behavior"
Hi there, if you use SelectSearch inside a div with tabIndex={0} then the menu will close as soon as you touch the scrollbar, see:

https://codesandbox.io/s/admiring-kepler-29e6x?file=/src/App.js

![Kapture 2020-06-27 at 1 58 46](https://user-images.githubusercontent.com/123822/85909359-c8c0e780-b819-11ea-8e5b-0e1ed471bf11.gif)

Why use tabIndex={0}? It seems to offer extended keyboard navigation,

[2020-06-29 12:10] tbleckert commented on #94
Thanks for reporting, I'll take a look!

[2020-06-29 17:35] tbleckert commented on #93
Great question. It needs some improvements, obviously (as with react-select that uses multiple aria attributes in the wrong way). That being said we have semantic markup, keyboard support and an aria role for the "menu items". Note that the `role` attribute as also WAI related, not only aria-*.

aria-* attributes is a way to tell a screenreader what it is or the purpose of the element when the mar

[2020-06-29 19:35] vvo commented on #94
Side note, I asked tailwindui peeps and they said tabIndex=0 was on purpose on the main div of their layouts, so that users can skip to content and navigate it easily. Now should react-select-search have tabIndex=0 too? I am not so sure :D

[2020-06-30 09:32] vvo opened #95 "When an item is selected, should it be the base for keyboard navigation?"
On this example: https://react-select-search.com/?path=/story/single-select--search

When an item is selected, if you reopen the menu and try to navigate, the selection starts from 0, instead of the currently selected item.

Example:
![Kapture 2020-06-30 at 11 29 03](https://user-images.githubusercontent.com/123822/86109811-11e89400-bac5-11ea-9ecb-e0d32bc003eb.gif)

Let me know what you think!

[2020-06-30 12:59] tbleckert commented on #95
Hm yeah, good point. When I added the keyboard support I tried to mimic the behavior of the default browser select box. Also hard with the multi select.

I personally like the current behavior because the focus starts at the input field and moves on to the next element. But I can also see how one might feel lost when it jumps away from the selected item. Yeah, might be a good idea to change this.

[2020-06-30 13:15] tbleckert commented on #94
The tabindex=0 on the input field is not necessary, but it also doesn't produce any side effects. It comes from the `valueProps` and is needed if you use a div instead of an input as the value component for example.

But we might need to reconsider the focus handling here. Need to experiment with this.

[2020-06-30 13:28] LucaMele opened #96 "Build artefact does not export as a traditional ESM"
When installing this as a dependency, I noticed that there is ES6 code in the dist build (for example: `const`, `=>`, `let`, etc). I suggest to export as a traditional ESM Module (ES5 code + import/export) or explicitly declare that this is not compatible with IE11. Most of the NPM Modules in the community use this approach. If not done in this way, in IE11 it won't work out of the box and a consu

[2020-06-30 22:26] tbleckert commented on #96
Yeah, should probably mention it in the readme. The esm build is targeted at modern browsers, if you need to support older ones you can use the cjs build. We're specifically excluding IE11 in the esm build https://github.com/tbleckert/react-select-search/blob/master/babel.config.esm.js#L9 .

[2020-07-01 13:32] eckertalex opened #97 "useSelect is not exported from index.d.ts"
When installing this as a dependency, I noticed that `useSelect` is not exported from the index.d.ts file, and so I can't use it in TypeScript as a hook.

[2020-07-01 14:27] vvo opened #98 "[bug] When input is focused, clicking again on it result in weird behavior"
Hi there:
- on this example: https://react-select-search.com/?path=/story/single-select--search
- when the input is focused
- when you type something
- if you click again the input
- then the component is in a weird state
- its content is removed and it seems focused but typing in it will lead to nothing (as if typing was happening in a different input)
- on my own application, it also seems like

[2020-07-01 14:28] vvo commented on #95
This is a good proposal, yep!

[2020-07-07 09:09] handrei opened #99 "[bug] react-select-search integrated in a next.js app"
hello, right now i'm moving an create-react-app into a next.js app and i have the following issue:
SyntaxError: Unexpected token export

/path-to-app/node_modules/react-select-search/dist/esm/index.js:1
export { default as useSelect } from './useSelect';
^^^^^^

SyntaxError: Unexpected token export
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js

[2020-07-07 10:38] handrei commented on #99
i resolved the issue by accessing the module with:
 - import SelectSearch from 'react-select-search/dist/cjs';

[2020-07-07 10:38] #99 closed

[2020-07-09 08:47] vvo opened #100 "[bug] Integer values produces errors"
Hi there, in my application I am trying to use react-select-search to display a list of users with their ids. The data comes from my own database so it looks like this:

[code]

When using, react-select-search, I map this array to:

[code]

So that in my form I get back value: 1 or 2 when selecting users. But it turns out that react-select-search is not working well when values are integers instea

[2020-07-11 08:59] scienfier opened #101 "get wrong search options"
https://react-select-search.com/?path=/story/multiple-select--with-placeholder

When input "hame";I got the below results.

![image](https://user-images.githubusercontent.com/68145371/87220580-9a094c00-c397-11ea-89fb-5c0bcfe1e15e.png)

I guess it is the fuzzySearch function's problem?

[2020-07-12 03:33] scienfier commented on #101
I see. Set the fuse to false,then it matches exactly. But there is one word delay in the search.

 if I input hame,the hamburger reesult will still be there.

[2020-07-24 20:51] Honason commented on #95
Better handling of the initial keyboard navigation would be great :-)

If I can add another suggestion: When you open the options list and hover over an item with mouse, then navigate with keyboard, the starting point should be the hovered item.

[2020-07-26 23:58] JoueBien opened #103 "Safari focus bug when using a button with in renderValue"
You may feel that this bug lies outside the use case for this component but I just wanted to submit an issue so that if others are experiencing the same issue they don't have to spend a while figuring out how to solve it. _In our case, we are using the component as a search drop down and to simulate a regular dropdown._

In Safari, this fails to open the drop-down
[code]

why? because safari doesn

[2020-07-27 13:52] mhutfield-Itrinegy opened #104 "onSearch event"
is there some event to hook into for when the input box is typed into, the onChange event only seems to fire when you actually select something from the dropdown list. Thanks

[2020-07-30 21:24] etc-tiago opened #105 "[feature] Add debounce mode to skip requests on api every typing when use getOptions"
Since getOptions can be an entry to communicate with the api and search for research data, debounce can be useful to avoid unnecessary requirements on each key press. Here is an example that can be used.

[code]

[2020-07-30 21:28] etc-tiago commented on #104
You can use `getOptions`:

[code]

[2020-07-31 10:13] mhutfield-Itrinegy commented on #104
Thanks

[2020-07-31 10:13] #104 closed

[2020-08-03 16:44] tbleckert commented on #100
Sorry for a late reply, just got back from vacation. Yeah, let's close it and continue the discussion there.

[2020-08-03 16:44] #100 closed

[2020-08-03 16:48] tbleckert commented on #66
Using anything other than strings should result in a warning in dev mode because of https://github.com/tbleckert/react-select-search/blob/master/src/types.js#L5 .

But yeah, I agree. We should definitely handle both strings and numbers. I'll make a patch during the week if no one beats me to it.

[2020-08-10 23:09] agustingabiola commented on #87
@tbleckert Hi, first of all awesome library. Have you been able to take a look at this?

[2020-08-11 11:30] tbleckert commented on #105
@etc-tiago Hm true. In my own use cases I've had the debouncing on my end, but maybe it makes more sense to have it built in. Maybe with the delay time configurable.

[2020-08-11 11:38] tbleckert commented on #103
Yeah, in my own customizations I've used a div instead of a button (see the [custom implementation example](https://react-select-search.com/?path=/story/hooks--custom-components)) since it has proper focus/blur handling. A button is obviously more semantic, but with correct roles and attributes it doesn't make a difference for screen readers. Great workaround with the custom focus handling though.

[2020-08-11 11:38] #103 closed

[2020-08-11 22:20] tbleckert commented on #66
Fixed in 2.0.5

[2020-08-11 22:20] #66 closed

[2020-08-11 22:21] tbleckert commented on #87
Sorry for the delay. Fixed in 2.0.6

[2020-08-11 22:21] #87 closed

[2020-08-11 22:28] agustingabiola commented on #87
Thanks a lot @tbleckert , just tried it and working fine.

[2020-08-11 22:53] tbleckert commented on #87
@agustingabiola Awesome!

[2020-08-12 11:43] tbleckert commented on #98
@vvo Don't be sorry for the issues ✌️ really appreciate the testing and reporting. Had a computer free July but back in business now and going through it all. This should be a quick fix

[2020-08-12 11:52] tbleckert commented on #23
Lots has happened since this issue was created. Not sure I want to bloat the package by bringing in a third-part library like react-virtualized that is ~30kb min+gzipped.

Since we now have hook support, I believe this is more suited as a third-part implementation that utilizes the `useSelect` hook together with react-virtualized.

I'm closing this for now, if anyone disagrees feel free to comment

[2020-08-12 11:52] #23 closed

[2020-08-16 13:52] vvo commented on #98
Thanks for your reply :) Feels good to be computer free from time to time!

[2020-08-16 14:50] vvo commented on #66
Hey there, just confirming that I tested the new fix and it's working well, thanks a lot!

[2020-08-20 11:53] ranyefet opened #106 "onBlur resets search to empty string"
Hi,

Thanks for the great library. I'm using the `useSelect` hook and building my own UI around it.
I'm building a tagging feature where user can search for tags and create new tag if not exists.

To decide if i like to allow the user to create a new tag i do something like:
[code]

The thing is, the moment i try to click on my button, the input loses focus, and the hook set `snapshot.search` to e

[2020-08-27 20:36] davidangel opened #107 "Bug: search + getOptions bug"
CodeSandbox Reproduction: https://codesandbox.io/s/react-select-search-bug-29g70?file=/src/App.js

When utilizing `search` and a custom `getOptions` method, it seems that **clicking** a result doesn't set the value, but that keyboard navigating with the `Enter` key does set the value.

[2020-09-02 05:38] avalsoff opened #109 "Select on space key, not enter"
Very good library, but I need to select option without submitting a form.
Is there way I can replace enter key to space key?

[2020-09-02 14:17] abdulwahhabkhan opened #110 "option is not defined"
Options:

[code]

Value:
`
'fr'
`

Code:
[code]

Scenario is:

Fr french was in the list of available options get saved in DB, but now do the change request this option is not available.

Any user who already have selected this option now getting the following error:
![image](https://user-images.githubusercontent.com/4024244/91994905-0e74c180-ed2f-11ea-8848-b8eef948738b.png)

Load time error I was

[2020-09-02 18:28] davidangel commented on #109
I had this same issue and solved it by intercepting the`onKeyPress` event in a styled component wrapper:

[code]

[2020-09-02 19:50] andreymoser commented on #107
I am getting the same issue and the Enter event worked for me too, the clicking is not working too.

[2020-09-06 16:10] maidul98 opened #112 "When i do getOptions, i can no longer get the value of the selected item when the user clicks with mouse"
CodeSandbox Reproduction: https://codesandbox.io/s/react-select-search-bug-forked-xvjfk

You can see in the console that when you select an item with enter key, it prints "hey", but when you click an item it doesn't register it. Would love some help on this bug.

[2020-09-09 14:52] DianaNOSE opened #113 "select-search scroll isn't clickable"
anytime i make a click in the select-search scroll it closes, making it troubling for the user, but you can scoll with the wheel so it is actually working in some way, is there any solution to it?

in a file of useSelect.js in the onBlur callback i got a condition with a document.getElementById to know if it makes focus on the container or not, depending on the condition i update the focus from tr

[2020-09-10 01:54] mazondo commented on #98
fwiw, this is similar to an issue I hit, reproduction is:

* Click on searchable dropdown, select an item from the list
* Click on the resulting item's text in the input field
* selecting items no longer works unless you re-click on the input field

This is reproducible on the storybook examples as well.  The solve for me was the following on a renderValue:

[code]

Not sure it's the best fix, but

[2020-09-15 16:00] aronedwards91 commented on #107
Seems to be an issue from 2.0.4 onward

[2020-09-16 09:22] ivan-kleshnin opened #115 "Async example does not work"
https://react-select-search.com/?path=/story/async--fetch

Options that appear after load are not selectable 😞

[2020-09-17 02:23] tonuegbu commented on #107
Still having this issue. Should I just install an older version?

[2020-09-17 02:23] tonuegbu commented on #107
@davidangel please what is the solution to this?

[2020-09-17 02:35] maidul98 commented on #107
@davidangel just use https://www.npmjs.com/package/react-select instead. It's better than this so I just switched my thing to that. Easy switch too

[2020-09-17 03:02] agustingabiola commented on #107
Investigating the onMouseDown trigger the difference is that when you do a search the value of the option is undefined. So when you do send e.target.value down to onSelect it's undefined.

To fix this I set the value manually and still trigger the event for all the other stuff (close on click, ie)

[2020-09-18 11:56] andreymoser opened #117 "mismatch type for getOptions (async) param on v2.0.6"
Hey @tbleckert 😀 !

I have reading the docs, storybook and code and I noticed that `getOptions` type on `v2.0.6` seems to not match each other, as per I have checked it should be `getOptions?: (query:string) => Promise<SelectSearchOption[]>` instead of `getOptions?: (query:string) => Promise<SelectedOption>`.

I am going to create a PR soon with this suggestion in order to help, please let me know

[2020-09-18 13:43] andreymoser commented on #115
Hey @ivan-kleshnin, please take a look here: https://github.com/tbleckert/react-select-search/issues/107 - this issue is duplicated.

[2020-09-18 13:50] andreymoser commented on #107
I am currently using a beta version (https://github.com/andreymoser/react-select-search/releases/tag/v2.0.6-beta-107) which is working good, it's based on @davidangel 's PR (https://github.com/tbleckert/react-select-search/pull/108) with minor changes, but I guess we will have to dig up it a lit bit more to have confidence that this fix is good. 🚀

[2020-09-18 15:29] Shadrack1701 opened #119 "Define Custom Search"
How can you define a custom search function with react-select-search?  I see mention of the filterOptions callback but I have no idea where/how this actually gets uses.  Any help here would be appreciated.  Fuse isn't performing well enough.

[2020-09-18 17:41] ivan-kleshnin commented on #107
@maidul98 react-select depends on the big Emotion library. If you care about performance, don't use it unless your app is already styled with Emotion.

[2020-09-19 07:39] ivan-kleshnin commented on #115
Yes, you're right.

[2020-09-19 07:39] #115 closed

[2020-09-19 20:32] tbleckert commented on #96
Fixed in #116

[2020-09-19 20:33] #96 closed

[2020-09-19 20:47] tbleckert commented on #117
Good catch! I merged the PR and was included in the latest published patch 2.0.7

[2020-09-19 20:47] #117 closed

[2020-09-19 20:55] tbleckert commented on #119
Hi! You can check the [Async example](https://react-select-search.com/?path=/story/async--fetch) for how to hook into search changes and return your own set of options. The `filterOptions` attribute mentioned in the readme is a leftover from a previous version, sorry about that. Maybe a custom filter function is more what you need though if you just want to replace fuse with your own search. I'll

[2020-09-21 13:38] Shadrack1701 commented on #119
Yeah, specifically a custom filter function is what I was looking for.    I'll look into your Async example as a stop gap.  Thanks for getting back to me!

[2020-09-21 13:54] andreymoser commented on #112
Hey @maidul98 :) Please take a look on issue #107 - this is issue is duplicated.

[2020-09-21 15:58] #112 closed

[2020-09-21 20:19] Shadrack1701 commented on #119
I'm going to stick with fuse even though there is a pretty bad lag from typing and the search results as when switching to async you can no longer click to make your selection.  That same issue exists in the demo.  Default values also don't seem to work correctly with the async getOptions.  Creating my own search function I could boost performance and debounce it to reduce the lag.  This is still

[2020-09-22 13:21] tbleckert commented on #119
Hm interesting, I'll take a look at the click bug. Regarding the lag, do you have a lot of options? Over at least 300 options could create some lag because the options are not virtualized (yet). But should be possible to boost the performance a bit when typing even without virtualization. I'll look into to it.

FYI, I've initiated a small rewrite that will make Fuse pluggable instead of built-in,

[2020-09-22 13:27] tbleckert commented on #113
Thanks for the debugging and reporting. I'll look into some options to make the focus/blur handling a bit more bulletproof.

[2020-09-23 13:30] Shadrack1701 commented on #119
Yeah i have around 2k options, and the click bug I mention looks like is already reported:
[107](https://github.com/tbleckert/react-select-search/issues/107)

[2020-09-24 15:29] tbleckert commented on #107
Sorry for the delay and thanks @davidangel for the bugfix. I've merged it (just tweaked it a bit to work with numeric values) into master. Can be tested here https://react-select-search.com/?path=/story/async--fetch . Published a patch v2.1.1.

@andreymoser Nice! Let me know if you found anything else that is included in your fixes that I've missed.

[2020-09-24 15:29] #107 closed

[2020-10-01 16:49] isofianos-thelist-app opened #120 "Test Fails"
I am new to testing and I am trying to make a simple test.

[code]

But I get the following error.

[code]
I am using the following dependencies.

[code]

I cannot understand what is the real issue, and how it can be fixed?
Thanks in advance.

[2020-10-02 18:19] MartijnHols commented on #120
Workaround: https://github.com/tbleckert/react-select-search/issues/99

[2020-10-03 15:18] manvydasu commented on #110
@abdulwahhabkhan
Is this really a bug of library?
What I understand, is that the value which you are setting on Select component no longer exists in the list options, yes?

So we should reproduce the issue like this:

[code]

I've tried this and didn't get any error.

[2020-10-05 06:40] isofianos-thelist-app commented on #120
In did it worked, for the time being, thank you very much!!!

[2020-10-05 11:13] tbleckert commented on #120
@isofianos-thelist-app Ah yes. Depending on your setup, the esm build (default) might not work, you probably need node v14 for that. Should update the readme with information about the differences between the esm and cjs builds. Thanks @MartijnHols !

[2020-10-05 11:13] #120 closed

[2020-10-06 15:39] jordibuj opened #122 "Reset option?"
Is it possible to have a Reset-like option that sets the value to null?
I can see how to do it with an external button, but users often expect to have this as an option. I just tried adding an item in the Events / Controlled Value example but didn't work... am I missing anything?
[code]

[2020-10-06 17:58] manvydasu commented on #122
@jordibuj
on your **onChange** function (**setSize**) you can just handle that special value
i.e.

[code]

[2020-10-06 20:04] jordibuj commented on #122
Than you @manvydasu , it worked perfectly!

[2020-10-06 20:04] #122 closed

[2020-10-06 20:29] agustingabiola opened #123 "Multiselect: when you press enter on option it triggers submit for example."
Thanks for the latest improvements @tbleckert Though I found a regression maybe. When you press enter on an option while doing multi-select, the event bubbles up so adding a preventDefault/stopPropagation should fix this.

[2020-10-07 07:39] tbleckert commented on #123
@agustingabiola Thanks and thank you for reporting. I think this is a duplicate of #109 right?

[2020-10-07 13:01] agustingabiola commented on #123
Indeed, I missed that issue while looking for an existing one before reporting. I will close it. Thank you and good day.

[2020-10-08 08:31] #123 closed

[2020-10-12 11:33] aaroncawte opened #124 "Should the first search result be pre-selected to enable one-click keyboard selection?"
In the [Single select - Search](https://react-select-search.com/?path=/story/single-select--search) example, if you type a substring of your desired option and press Enter, it closes the selector with no change in selection (still nothing or the previous selection).

It would be really cool if pressing Enter would automatically highlight and select the top result, while at the moment you must pres

[2020-10-13 08:43] UnclespaceGroup opened #125 "Missing onFocus event!!"
Works poorly with final forms, does not return the focus state and other meta. I need to listen to the field focus event on my react-final-form. Can you add the ability to subscribe to the onFocus event?

[2020-10-15 14:44] UnclespaceGroup opened #127 "Add undefined support for value"
In many cases, I need to have an option with a value of undefined in value to reset the field. At this time, a warning appears in the console. Please correct it.

[2020-10-16 11:52] manvydasu commented on #127
Can't you use null instead?

[2020-10-16 13:43] UnclespaceGroup commented on #127
![image](https://user-images.githubusercontent.com/37845650/96265845-a15f7780-0fce-11eb-9191-ce4becb1032d.png)
Null get same error

[2020-10-16 13:45] manvydasu commented on #127
What about this approach?
https://github.com/tbleckert/react-select-search/issues/122

[2020-10-16 13:50] UnclespaceGroup commented on #127
okay, many thanks!

[2020-10-16 13:52] #127 closed

[2020-10-17 20:58] andreymoser opened #130 "Contributors and ideas"
Hey @tbleckert!

I have found this project when I was researching months ago for a lightweight React component for select and I could notice how incredible it was in the first time I have used it. First of all, congratulations for the awesome work on this project! 👏

Maybe we could establish an open communication channel for contributors (e.g.: Slack) to express our ideas asynchronously, find out

[2020-10-20 21:33] tbleckert commented on #130
Thanks for your kind words @andreymoser ! Sounds like a good idea. I can setup a Slack channel and we can take it from there, see how it goes. Would love to get more contributors, hard to keep it going as it grows. Good place to discuss the v3 version I'm working on in the next branch.

Happy coding!

[2020-10-20 21:48] tbleckert commented on #125
@UnclespaceGroup Sounds like a good idea. Will add onFocus/onBlur as soon as possible.

[2020-10-20 22:06] tbleckert commented on #124
@aaroncawte Ah, hm. Sounds like a good idea.

[2020-10-21 00:32] andreymoser commented on #130
That´s great @tbleckert ! I will be happy to join the slack channel! 💯

[2020-10-21 21:16] #97 closed

[2020-10-22 16:22] tbleckert commented on #67
Included in v2.2.0 thanks to @citius in #129

[2020-10-22 16:22] #67 closed

[2020-10-28 10:26] tbleckert commented on #110
@manvydasu Valid point. And I can't reproduce it either. Thanks for the help!

@abdulwahhabkhan Looking at the error, it seems that there is an option that is undefined in the options list.. If you have time, could you create a reproducible test case on codesandbox? I'll close this one for now, but will happily reopen it if you have any more info.

[2020-10-28 10:26] #110 closed

[2020-11-03 14:47] stephen-farris-jhuapl-edu opened #132 "Include full example with style.css in docs"
I'm unable to import style.css for some reason (```import 'react-select-search/style.css``` doesn't work), and it would be helpful to see an example in the docs that shows how to properly import style.css. The examples in Storybook are all relative to the project source, and thus not helpful since my code is external to the project.

[2020-11-03 14:51] stephen-farris-jhuapl-edu opened #133 "style.css not included in installation"
```import 'react-select-search/style.css'``` isn't working (it says ```Module not found: Can't resolve 'react-select-search/style.css' in ...```). When I inspected the 'react-select-search' folder in node_modules, style.css isn't there. How do you install style.css? Without it, the select component works great but doesn't look very nice.

[2020-11-09 17:03] isofianos-thelist-app opened #134 "Change value when testing"
Hello!!

I am trying to change the value of the select to test my overall functionality in a component, but the value does not change, so I need some help.
Currently using `"react-select-search": "^2.2.0"`

[code]

I also have tried with no luck  `fireEvent.change(select, { value: 'es'  });`

[2020-11-14 12:25] tbleckert commented on #133
@stephen-farris-jhuapl-edu Must have fallen out when cleaning up the the npm package. The style.css is more of a demo/example on how you can style the component with css (also have this example with CSS modules https://react-select-search.com/?path=/story/custom--css-modules).

But I'll create a patch release including it. Thanks for noticing and reporting.

[2020-11-14 12:29] tbleckert commented on #133
@stephen-farris-jhuapl-edu Just published 2.2.1 that includes style.css

[2020-11-14 12:29] #133 closed

[2020-11-14 12:31] tbleckert commented on #132
@stephen-farris-jhuapl-edu I'm guessing this is related to your other issue. `import 'react-select-search/style.css` as you tried is how it works and should work now with 2.2.1.

[2020-11-14 12:31] #132 closed

[2020-11-14 13:59] andreymoser commented on #130
Hey @tbleckert! Just curious, I have seen some work on next branch and I would like to contribute and hear from you some things that you're looking for to achieve in the next version. I have some suggestions but in the first moment it's more important to help you as well. Let's keep in touch! 👍

[2020-11-16 12:05] istevkovski opened #135 "React 17 support"
Could you please add support for React 17? It would be convenient to update to NextJS v10 and React 17

[2020-11-18 01:04] sergeyvelichkin opened #136 "Any way to change arrow icon to a search icon?"
please

[2020-11-26 12:25] anuj0361 commented on #136
+1

[2020-11-29 07:38] sid-kap commented on #130
Has a Slack channel been set up? I'm also thinking about contributing, and would love to join if it exists

[2020-11-29 07:50] sid-kap commented on #23
I managed to create a virtualized version of this and it works really well! However I didn't want to implement input management, fuzzy search, etc. myself so I ended up just taking SelectSearch.js and modifying a few lines as needed: https://gist.github.com/sid-kap/3d47b06891e8b8c1c7de402b422e484b

Do you think there's a way we could modify react-select-search that makes this sort of change possib

[2020-11-29 17:40] tbleckert commented on #23
Nice work! I've refactored a lot of the code in v3 (next branch), mainly some optimizations but also moved code into separate components like; Options, Option and Value.

Maybe we could make a separate options component, like `VirtualizedOptions`. Then we could have an option for using it. That way, react-window could be an optional dependency and we wouldn't increase the size thanks to tree shaki

[2020-11-29 17:48] tbleckert commented on #130
@sid-kap and @andreymoser I've setup a slack channel but didn't get any further with it because of other things that got in the way. For now you can just send me an email and I'll invite you. Then we can setup up an invitation page.

[2020-11-29 18:44] sid-kap commented on #23
Either of those sounds great to me!

[2020-11-30 09:31] #83 closed

[2020-12-01 11:51] tbleckert opened #138 "v3 release"
The upcoming v3 release is mainly a refactoring project to make to code both smaller and more maintainable. It also comes with some important fixes like:

* https://github.com/tbleckert/react-select-search/issues/113
* https://github.com/tbleckert/react-select-search/issues/119
* https://github.com/tbleckert/react-select-search/issues/8
* https://github.com/tbleckert/react-select-search/issues/105

[2020-12-01 12:09] tbleckert commented on #113
Fixed in v2.2.3

[2020-12-01 12:09] #113 closed

[2020-12-01 12:28] #130 closed

[2020-12-01 19:42] icaroscherma commented on #138
I don't want to sound rude, but how close are to v3? Is there an ETA?
I noticed on other issues that a virtualization (`react-window` or `react-virtualized`) will be implemented, that's what I was currently working on. This library was the only `<select>`-like library that I found that's tiny, with proper keyboard events supported (like using arrow keys to navigate through the item list, tabulatio

[2020-12-01 21:58] federicocappellotto97 opened #139 "Empty value on click"
If i click on an option the value of the select is empty.
I'm taking options through a fetch
`<SelectSearch
   options={[]}
   getOptions={(query) => {
     return new Promise((resolve, reject) => {
        fetch('http://www.omdbapi.com/?s='${query}')
            .then(response => response.json())
            .then(({ Search }) => {
                resolve(Search.map(({ imdbID, Title }) => ({ valu

[2020-12-01 22:03] federicocappellotto97 commented on #139
I see the same behavior in your examples [here](https://react-select-search.com/?path=/story/async--fetch)

[2020-12-02 09:55] tbleckert commented on #138
@icaroscherma Not rude at all and thanks for your interest in the project. The v3 release is basically done, just testing and making sure functionality hasn't fallen out.

About ajax and react-query (or swr). It's possible to use them and you're right, might need an example for it. Basically you would use it outside react-select-search and then pass the options to the component (or hook). That way

[2020-12-02 12:52] UnclespaceGroup commented on #138
what with this #125? will this be implemented in this version?

[2020-12-02 13:41] tbleckert commented on #139
Looks like a duplicate of https://github.com/tbleckert/react-select-search/issues/89

[2020-12-02 13:41] #139 closed

[2020-12-02 13:42] tbleckert commented on #138
@UnclespaceGroup Yes, already implemented and documented https://github.com/tbleckert/react-select-search/tree/next#configuration

[2020-12-02 13:43] federicocappellotto97 commented on #139
And where is the solution?

[2020-12-02 13:45] tbleckert commented on #139
@federicocappellotto97 In the upcoming v3 release, currently in the next branch. But will probably be patched in v2 as well.

[2020-12-02 13:46] federicocappellotto97 commented on #139
Is there any workaround?

[2020-12-02 15:43] federicocappellotto97 commented on #138
Please release it now!! 😂 😂 😂

[2020-12-02 17:16] jatbone commented on #103
This is still issue, even when I changed button to div.

[2020-12-02 22:47] andreymoser commented on #130
hey @tbleckert! Sorry for the delay, my e-mail is andrey@bidicode.com :)

[2020-12-07 11:08] chuksjoe opened #140 "Setting multiple values with an array fails"
I've been trying to set the default value of a select element with `multiple` flag to an array ([1, 4]), but it keeps on throwing an error:
![image](https://user-images.githubusercontent.com/3866057/101343819-d9739000-3884-11eb-817f-065fcf331ef6.png)
Please, how can this be fixed?

[2020-12-07 18:07] icaroscherma commented on #138
@tbleckert
You're increasing a major version number but are you following SemVer (is there any major deprecations)?
I'm about to finish re-styling it and I don't want to have to redo this.

Another nice feature would be "integration" with CSS frameworks (bootstrap, bulma, tailwind), by "integration" I mean examples of how to use specific classes to reflect the native behaviour of that framework, s

[2020-12-07 18:41] tbleckert commented on #138
@icaroscherma There won't be any major deprecations. The update/project is only called v3 for now since it's a big refactor. Not sure yet if it can safely be tagged as a v2.3.

Regarding integrations. Feel free to send a PR with some story examples, would be a great addition. Great idea!

[2020-12-09 02:51] bealbrown opened #143 "Keyboard Support"
Hello,

I see on the npm page that keyboard support is included?

I want to capture the enter key, i.e., user types verbatim search value and wants to trigger onchange by hitting enter

I don't see any documentation, but i do see in the .ts src:

`onKeyDown:(event:KeyboardEvent) => void`

which doesn't look promising.

Is there a sanctioned way to do this? Thanks.

[2020-12-09 03:01] bealbrown commented on #143
I tried overriding onKeyDownm, without any luck

[code]

[2020-12-09 09:39] #140 closed

[2020-12-09 11:39] tbleckert commented on #143
Hi! Keyboard support refers to being able to use the component with a keyboard (up/down to navigate options, enter to select, esc to close).

The keyboard event handlers are attached to value and option components through valueProps and optionProps. You can patch those by using [custom renderers](https://github.com/tbleckert/react-select-search#custom-renderers).

[2020-12-09 19:56] icaroscherma commented on #138
@tbleckert I just noticed a bug when you're browsing the component using your keyboard (arrow up and down) and you have `multiple={true}`, it doesn't scroll up and down following the "hovered" option.

It can be reproduced in your own example: https://react-select-search.com/?path=/story/multiple-select--search

Have you fixed this on your v3 release?

[2020-12-10 06:39] tbleckert commented on #138
Thanks for the report @icaroscherma , wasn't aware of the issue but looks lite it has been fixed. You can browse the stories for the next branch here https://react-select-search-git-next.tbleckert.now.sh/

[2020-12-10 08:46] federicocappellotto97 opened #145 "Bug on Next branch"
I tried to download and include in my projext the Next branch, but i got this error
<img width="862" alt="Schermata 2020-12-10 alle 09 46 23" src="https://user-images.githubusercontent.com/63153191/101748216-9277db80-3acc-11eb-8d28-3d6d52f896f5.png">

[2020-12-10 12:44] tbleckert commented on #145
@federicocappellotto97 The prop validation uses dom objects and looks like you get the error on SSR. I haven't had time to test SSR yet .Thanks for the report, I'll keep this here until the release is out.

[2020-12-10 17:32] icaroscherma commented on #138
It's still present to me:
https://react-select-search-git-next.tbleckert.now.sh/?path=/story/multiple-select--search

![Screen-Recording-2020-12-10-at-9](https://user-images.githubusercontent.com/42467/101807851-72dfb380-3aca-11eb-8b0e-0ddf53497202.gif)

[2020-12-10 19:55] tbleckert commented on #138
Ah, hm. Yeah, looks like it's working until you select an option. Thanks, will look into it.

[2020-12-14 08:48] cc3613 opened #149 "The page keeps refreshing when I select an option on a multiple select"
I cannot select multiple values without holding `Cmd` key

My usage of  SelectSearch in the component
`<SelectSearch search multiple emptyMessage="Cannot find class" options={this.state.lessonSelections}`
`placeholder="Class" closeOnSelect={false} printOptions="on-focus"`
`className='select-search' onChange={this.handleLessonsChange.bind(this)} /> `

My `handleLessonsChange`

[code]

[2020-12-14 20:26] bealbrown commented on #143
Thanks for your quick response! I'll get it going this way. Much appreciated!

[2020-12-14 20:40] bealbrown opened #150 "Async results not selectable"
Hello,

Just wanted to mention that I had some difficulty implementing the async promise-based approach to using this library.

The issue I was having is that when a user selects an option that was populated by async API, it doesn't appear to properly select, and doesn't fire any events.

This behavior can be seen here:
https://react-select-search.com/?path=/story/async--fetch

The way I ended up

[2020-12-14 21:43] kjkurtz commented on #150
I just experienced this as well. I think it is a regression in the newest release. I reverted back to 2.2.0 and things are all working again. In 2.2.3 the only way to select an async result is to use the keyboard, mouse events aren't getting handled properly from what I can tell.

[2020-12-15 07:43] tbleckert commented on #143
@bealbrown No problem! Let me know if you bump into more problems or questions

[2020-12-15 07:43] #143 closed

[2020-12-15 23:35] bealbrown commented on #150
So I tried reverting back to 2.2.0 and that didn't help.

I feel like this is super hacky, but the way I was able to get this working is by creating an empty promise that calls a function that uses the state hook to update the array which holds the options. Nothing else I tried worked -- it would either totally fail, or result in a race condition in which the results of the matching stocks query w

[2020-12-19 14:32] yageorge opened #151 "SelectSearch - Input value not resetting when loosing focus with renderValue"
Hi!

The package works great, but when I am using renderValue, using the example function your docs provided below. The value I add inside the input search bar 'does not reset to empty' when I click outside, I tried onBlur but it did not work as well.

Can you assist me solve this out? All I need from renderValue is just to modify the UI design className for the search bar. nothing else.
Using Rea

[2020-12-19 16:52] migumelar opened #152 "When `search` is enabled, selecting any `options` that containing space character on the `name` make the component stuck"
Hi, I'm experiencing a weird issue. When the search is enabled (`search={true} `) then selecting options with `name` attribute containing space character sometimes make the component stuck. But when search is disabled everything is running fine.

here is the screenshot:

![name with space issue](https://user-images.githubusercontent.com/44187714/102694633-e618c080-4254-11eb-9d3c-721fec77490c.gif)

[2020-12-20 22:39] kylejb commented on #135
I'd like to take a stab at this issue.

[2020-12-21 07:46] IRediTOTO opened #154 "Search func with custom hook"
Hi, I read about Headless mode with hooks, but how to use it with custom search? Can you make demo code ? Thank you

[2020-12-28 17:39] vsimak opened #156 "Warning: React instrumentation encountered an error: RangeError: Maximum call stack size exceeded"
Hi,

Firstly thank you for the amazing package!

I have an array of 6500 (65k) objects.
I presume it is an overkill for the rendering.
Thus I am getting
`index.js:2177 Warning: React instrumentation encountered an error: RangeError: Maximum call stack size exceeded.`

Is there a way to somehow limit the initial rendering of options in order to avoid this error?

Thanks!

[2020-12-28 17:49] vsimak commented on #156
To partially answer my own question with the idea of a solution.
Gotta do the Custom Renderer way and control the amount of options listed.
Ill give it a try and post the results here if anyone has a same scenario

[2021-01-06 20:43] #156 closed

[2021-01-12 17:33] bansalvks commented on #150
https://user-images.githubusercontent.com/8565993/104350590-53ed9a80-552a-11eb-85c6-a1d0abb5dc1f.mov

[2021-01-12 17:46] bealbrown commented on #150
That was the behavior I was experiencing. Still using my above solution, but would appreciate some clarity if possible. Thanks!

[2021-01-12 17:48] bansalvks commented on #150
the drink is not selecting

[2021-01-12 21:10] 8gentile commented on #106
+1

[2021-01-15 04:02] Vovan-VE opened #158 "TypeScript: wrong declaration for SelectedOptionValue?"
Hello.

Version 2.2.4.
From TypeScript declaration:

[code]

However `onChange` actually receives `(string, SelectedOption)` and
not `(SelectedOptionValue, SelectedOption)` (`multiple=false`).

Either `SelectedOptionValue` declared wrong or `onChange` 1st argument must be `string|string[]` (same as type of `value`).

[2021-01-15 05:50] Vovan-VE commented on #158
There are more mistakes:
* `type DomProps` has `tabIndex: string` which is incompatible with React declaration `tabIndex?: number`: `string` cannot be assigned to `number | undefined`;
* 2nd argument in `renderOption` is declared as `SelectedOption`, but `SelectSearchOption` (`options[i]`) actually is passing to it.

[2021-01-15 07:41] Vovan-VE opened #159 "Wrong handling of ESC key"
Hello.

Version: 2.2.4.

I have a dialog (`rc-dialog` in my case), closable by ESC key out of the box, with `SelectSearch` inside it. When dropdown list is opened, pressing ESC key cause `SelectSearch` to close the dropdown.

The problem is that `stopPropagation()` was **not** called on event and the same event bubbling cause dialog to close too. Also another potential problem is the `SelectSearch

[2021-01-15 15:00] smart-coder-ru opened #160 "When I use getOptions fetch - not working event onChange"
[code]

[2021-01-18 23:20] konstaner opened #161 "Value is not setting when use getOptions"
It's not working even in storybook example "Async / Fetch".
Focus on field -> input search string -> Select option -> Input value resets.

Screencast: https://monosnap.com/file/eueRqxhHuEvxAMfFOlWJoyxmUyHO0H

[2021-01-23 07:04] jvkolyadich commented on #154
Took me a while to realize that you need to provide the options for fuse.js.
You can go to https://fusejs.io/api/options.html for a full list.

[code]

[2021-01-24 12:02] manvydasu commented on #158
The library is quite small. Perhaps it should be rewritten in typescript? It would be easier to avoid such mistakes then and it shouldn't be that hard.

[2021-01-24 12:03] manvydasu commented on #138
@tbleckert any plans to rewrite this in typescript?

[2021-01-29 07:38] #8 closed

[2021-01-29 07:38] #89 closed

[2021-01-29 07:38] #98 closed

[2021-01-29 07:38] #105 closed

[2021-01-29 07:38] #109 closed

[2021-01-29 07:38] #119 closed

[2021-01-29 07:38] #125 closed

[2021-01-29 07:38] #138 closed

[2021-02-02 13:29] TheGP opened #164 "How to use renderOption?"
There is no source code at https://react-select-search.com/?path=/story/custom--avatar-example

[2021-02-09 04:23] IvanDmitrachkov opened #165 "normal search does not work in 3.0.2!!!"
this example https://react-select-search.com/?path=/story/single-select--search doesn't work in new version. Please check with yourself, maybe I'm doing something wrong

[2021-02-09 04:27] #165 closed

[2021-02-09 04:28] IvanDmitrachkov commented on #165
as I understood, the filterOptions option is now required

[2021-02-10 08:44] LukeV111 commented on #164
Did you figure this out @TheGP ?

[2021-02-10 11:09] TheGP commented on #164
@LukeV111 Yes: https://react-select.com than u can just search anything and there are a lot of examples on StackOverflow for any question

[2021-02-11 17:54] otox-rz commented on #164
Hi guys, I think you should check on [this](https://github.com/tbleckert/react-select-search/blob/24bbf7f76acf0f13f10c5bcdb31becc9a600e970/stories/3-Custom.stories.js#L57)

[code]

I think this library has very small package size. We can compare it here

https://bundlephobia.com/scan-results?packages=react-select,react-select-search

[2021-02-12 23:59] bigbadbrad opened #168 "npm install the package & get this error for some reason"
./node_modules/react-select-search/dist/esm/SelectSearch.js
Module not found: Can't resolve 'react/jsx-runtime' in '/Users/bradmeinert/Documents/GitHub/fp-client/node_modules/react-select-search/dist/esm'

[2021-02-13 00:23] DavidWells commented on #168
I am also seeing this 😅

For some context, this is in older react 16 CRA

[code]

[2021-02-16 01:34] bigbadbrad commented on #168
Yes I'm using the same react.  I get this error when I simply import the package-

import SelectSearch from 'react-select-search';

[2021-02-16 15:57] joeyparis commented on #168
I am also getting this error on react-select-search@2.2.4 with React@^16.13.1

[2021-02-18 11:08] Ronny25 opened #169 "SelectSearch ignores not changed value"
Hi!

It seems that SelectSearch ignores not updated `value` prop after async `onChange`.

Let say the value is '1', onChange calls API and (after validation or whatever reason) value didn't actually update SelectSearch still shows previously clicked option as a selected one. Which is wrong.
So it looks like the internal state is not updated and it mismatches with the provided value from now on.

M

[2021-02-27 23:48] AlexBasile123 commented on #104
Thanks, was looking for the same question

[2021-02-28 05:04] AlexBasile123 commented on #2
valueChanged has been removed, right? It's not in the api description on github. Also tried it to just to make sure.

[2021-02-28 16:59] EliasTouil commented on #145
Hello @tbleckert , As ther been an update on this? Is there a workaround

thank you

[2021-03-01 15:57] selimdoyranli opened #171 "Not selectable option when after search"
https://user-images.githubusercontent.com/8565993/104350590-53ed9a80-552a-11eb-85c6-a1d0abb5dc1f.mov

_Originally posted by @bansalvks in https://github.com/tbleckert/react-select-search/issues/150#issuecomment-758819373_

[2021-03-01 16:10] selimdoyranli commented on #171
I reverted packages to

"fuse.js": "3.4.5",
"react-select-search": "2.2.0"

and fixed. but i think not a good solution

[2021-03-01 16:11] selimdoyranli commented on #171
I revert packages to

"fuse.js": "3.4.5",
"react-select-search": "2.2.0"

fixed. but i think not a good solution

[2021-03-01 16:11] selimdoyranli commented on #171
I reverted packages to

"fuse.js": "3.4.5",
"react-select-search": "2.2.0"

fixed. but i think not a good solution

[2021-03-03 09:50] satanworker opened #172 "Error when using cjs module"
Hey! Thank you so much for such a useful library. I've found the problem with Next.js if I try to use it out of the box, the compiler gives an error because it's trying to use esm module on the server like so
<img width="1383" alt="Screen Shot 2021-03-03 at 13 44 47" src="https://user-images.githubusercontent.com/11026240/109786495-a42dd280-7c26-11eb-8901-b9610cbc796d.png">
I think the problem is

[2021-03-04 09:33] ejabu commented on #171
![image](https://user-images.githubusercontent.com/2019630/109942938-3dccb100-7d07-11eb-8090-9ca46b50686d.png)

I went through the code and try to commenting these two lines.

It works

[2021-03-10 00:37] icaroscherma commented on #171
Using `onChange` fix this issue.
The internal state of the selected value it's replaced if you don't propagate it, resulting in the examples showing this odd behavior. ;)

[2021-03-10 23:58] icaroscherma commented on #154
If somebody stumbles upon this issue, with v3 you need to explicitly declare your `filterOptions`, which means...
[code]

I will ping #165 so similar issues are pointed to this.

[2021-03-12 18:44] GabrielMochi commented on #172
Same issue.

[2021-03-14 13:37] ejabu commented on #171
@icaroscherma can you provide some full example ? thanks

[2021-03-14 21:41] AlexBasile123 opened #174 "Confirming Approach for Query Change Notification & Option Selection"
First, I want to say that I really like the minimal approach and yet a lot of features.

I've been playing around w/ it for a while and now questioning whether it can handle my needs.

My needs are pretty simple:
1. Type into search text box. Updates the dropdown options and grid below
2. Dropdown options are constructed from 3 collections (top 3 of each), based on the value in the search text box

[2021-03-15 16:07] icaroscherma commented on #171
@ejabu

[code]

Rephrasing what I said, the current render / hook flow of the project looks for a preset value after you search (exactly those 2 lines that you pointed), if you haven't a set value it will not display it, this is because it does a re-render to clear the search input.

[2021-03-15 21:07] icaroscherma commented on #174
Hey @AlexBasile123 , just a few recommendations:
- If you check issue #171 I showed how to use `fuzzySearch` as your main search filter engine
- When you're pasting some code on Github, please use one of the flavoured markdown helpers:
  -  For inline code, like this: `useSelect({});` you should one ONE `grave accent character` at the beginning and another one at the end of your code.
  - For bloc

[2021-03-16 23:54] AlexBasile123 commented on #174
@icaroscherma Thanks! Will try it out.

[2021-03-18 08:15] GitanjaliCS opened #175 "Please help react/jsx-runtime module not found"
Module not found: Can't resolve 'react/jsx-runtime' in 'C:\xampp\htdocs\abbeyschoolapp\client\node_modules\react-select-search\dist\esm

I have installed react/jsx-runtime module. Still it is showing error

[2021-03-18 09:58] tbleckert commented on #135
v3 supports React 17

[2021-03-18 09:58] #135 closed

[2021-03-18 10:00] tbleckert commented on #101
v3 includes custom filter support, so you can now easily use your own fuzzy search implementation or library if the default is too fuzzy

[2021-03-18 10:00] #101 closed

[2021-03-18 10:14] tbleckert commented on #164
I will improve the storybook as soon as possible, but just a reminder that all code is here on github. All stories/examples can be found here https://github.com/tbleckert/react-select-search/tree/main/stories

[2021-03-18 10:14] #164 closed

[2021-03-18 15:38] icaroscherma commented on #174
@AlexBasile123  Please don't forget to let us know if it worked out for you. ;)

[2021-03-18 19:45] AlexBasile123 commented on #174
@icaroscherma Thanks, your advise helped a lot! Select Search component is working much better when using the proper events. i.e. rather than using getOptions to get the search text I'm now using filterOptions for get both the search text and setting up the options.

Although I did have to add a guard that checks if the user has entered anything new in the textbox; by comparing previousSearchText

[2021-03-18 22:17] AlexBasile123 commented on #169
@Ronny25, I'm looking at a similar issue.

Seems like value is set when an option is selected, and not when user types into the text box. Then clicking away from SelectSearch component shows the name associated w/ the value. If the user clicked away after typing in the text box but didn't select an option, then the text isn't preserved.

Thus, text box only shows names associated w/ a selected opt

[2021-03-18 22:20] icaroscherma commented on #174
Are you using **Custom Hooks** ?
Because the way you described it doesn't seem that you're using `import SelectSearch...`, it seems that you're using `import {useSelect...`.
Otherwise there's no need to do this whole thing, the library already takes care of all of those events seamlessy.

--

I'm doing a custom component (hook-based) from scratch using tailwind as css classes to demonstrate to oth

[2021-03-18 22:57] icaroscherma commented on #174
I just see a quote from my first response, did you mistakenly comment without typing anything? 😛

[2021-03-18 22:57] AlexBasile123 commented on #174
@icaroscherma Yeah, it's good to hear that the library is supposed to handle it!

I'm not doing any kind of custom hooks AFAIK. I'm a bit above noob in react so maybe I'm not fully aware.
This is how I'm importing SelectSearch:
`import SelectSearch from 'react-select-search';`

The complete imports are:
[code]
I am using Redux/Reducer to manage state; vs. your recommendation of useState.
But I don

[2021-03-18 23:05] icaroscherma commented on #174
Can you provide a small sample of how your options dataset are looking like?
Then I can build a single page with build-in handlers that you can tackle on it.

Yup, you're not using from what I've seen in your last comment. :P

--

A quick somewhat offtopic tip is that your `lock` var is being changed inside a scope that won't be trackable, this is why you should use Redux or Hooks (i.e. `[lock,set

[2021-03-19 01:34] AlexBasile123 commented on #174
Thanks for the quick response!
I can replicate it w/ your sample data. Also repeatable when I comment out onChange and filterOptions
[code]
Thanks for the advise of using lock var. I only need it in this component. Trying to limit exposure to rerendering. Seems to be doing the trick, but will keep it in mind.
Btw, deselecting option is not a showstopper for me. Please feel free to get to it when i

[2021-03-19 15:13] #150 closed

[2021-03-22 13:25] tbleckert commented on #175
@GitanjaliCS Which version of React are you using?

[2021-03-22 13:46] GitanjaliCS commented on #175
I am working on Reactjs version ^16.13.1

On Mon, Mar 22, 2021 at 6:56 PM tbleckert ***@***.***> wrote:

--
Regards,
Gitanjali Gurram

Creative Skills Digital Pvt Ltd.

[2021-03-23 10:04] tbleckert commented on #106
Interesting, will look in to it. Actually the search shouldn't clear on blur and instead let the component decide which value to display and when.

[2021-03-23 12:33] tbleckert commented on #175
@GitanjaliCS I see, version v3 only supports the [new JSX transform](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) as of now. How are you transforming jsx right now? Babel?

[2021-03-24 18:34] arkzky commented on #60
Your question is not silly at all!!

I was strugling with the same issue. It was confusing to me because I had tried several other libraries in which they use a "selectedValue" prop to get the user selected value.

This time around seems like they decided to stick with the default method to get values from vanilla HTML select in React, which is good  but kind of rare to me this days 😅

[2021-03-30 20:14] tbleckert commented on #174
@icaroscherma This is a tricky one. As this project started out, the goal was to be a drop-in replacement for the HTML select. Therefor when you set `multiple`, the select box is always open. Later on more options came, mainly `closeOnSelect` and `printOptions`.

So, in this case `closeOnSelect` is unrelated, since as you stated, it's always open.

Moving on to `printOptions` you have these settin

[2021-03-30 20:29] icaroscherma commented on #174
Yup, it makes sense. I remember checking those params before but I totally forgot about them today. =)
I updated the codesandbox link with the parameters I think he's looking for.

[2021-04-01 20:55] icaroscherma commented on #169
@Ronny25 can you post the block of code like @AlexBasile123 did?
It seems that he had a different issue all along and your issue seems to be related to react state management, not the component itself.

You can play around with one example in this URL: https://codesandbox.io/s/select-search-3-test-skjec .

[2021-04-01 20:56] icaroscherma commented on #168
As @tbleckert stated on issue #175 :

So in other words, a newer version of React and it's needed or a "manual" JSX transformation is required.

[2021-04-01 21:35] Ronny25 commented on #169
Hi @icaroscherma
Yes. Please check this sandbox https://codesandbox.io/s/select-search-3-test-forked-4o65y
I also added logs for an easier demonstration of what the issue is.

[2021-04-01 22:13] icaroscherma commented on #169
I see what you're saying.
The `snapshot.displayValue` it's changed before the actual State is changed.

To prevent this you can either:
- Monkeypatch;
- Write Effects;
- use a `setValue` before its validation or a `setLoading` just to trigger a state change, and after validation it sets again the right one (even if it's the same, or you can have a if). Example: https://codesandbox.io/s/select-sear

[2021-04-02 19:07] ivanjeremic opened #177 "Failed prop type: The prop `option.name` is marked as required in `Option`, but its value is `undefined`."
I use SelectSearch with a filter like this

[code]

I see that the filter works because the right number of items gets shown to me but with no text inside them, I use the fuzzySearch code from the example but even when I rewrite it to use the original example dfrom Storybook I get the same issue no text is displayed when I start typing to filter something all I get is this error in the console
[co

[2021-04-02 19:38] ivanjeremic commented on #154
All these hooks look great but can somebody please create a full example here or on codesandbox? I now for 2 hours to get search working even the normal one does not work with any custom hooks, all I get when I start typing are empty items.

[2021-04-02 20:23] ivanjeremic commented on #171
This fixed it for me to thanks, something needs to be broken in the newer versions.

[2021-04-03 12:58] ivanjeremic opened #178 "How to use Object as value?"
Using an Object as value works but has bugs, I can log the object with `onChange={(value) => setAccount(value)}` but all selects after that are the first selected one the value is not updated anymore after the first select.

Or is there any other way to add additional data in the value when NOT using multiple mode?

[2021-04-03 16:26] icaroscherma commented on #171
@ivanjeremic It's not broken in the newer versions, the approach used it's different, as the lib was rewritten to be more optimized.
As you requested in issue #154 .

Here's your example:
https://codesandbox.io/s/select-search-3-test-skjec

[2021-04-03 21:43] Ronny25 commented on #169
@icaroscherma `onSelect` will be triggered only when `value` has changed - it means when it's a primitive string it won't detect change (when it has previous value).
So I would maybe stick to using `key` prop.
Seems a bit cleaner as for me instead of using additional state or monkeypatching.
Thanks.

[2021-04-07 04:36] AlexBasile123 commented on #174
@icaroscherma No worries. Thanks for putting it together. Hope you're feeling better!

[2021-04-08 22:09] icaroscherma commented on #178
If I understood correctly, you have:
[code]
And you want that the value set is not `object.value` but `object` itself.

I believe the best way is to instead of use `value` in your system, you can have something like:
[code]
right after your hook definitions.

[2021-04-08 22:20] icaroscherma commented on #177
I don't know how `ccxt.exchanges` looks like but it seems that you're trying to achieve an ajax query without using ajax. :P

`getOptions` it's for assynchronously get options, in other terms you don't have the options already "in your hands", you need to fetch it then update the options.

But as you're not using a method to actually retrieve it, it seems that you already have the data locally*, y

[2021-04-08 22:52] tbleckert commented on #171
As @icaroscherma states, this was fixed in 3.0.4. Closing this one. @selimdoyranli let me know if this is still an issue.

[2021-04-08 22:52] #171 closed

[2021-04-08 22:58] tbleckert commented on #154
@ivanjeremic and @IRediTOTO , you have two options here that you can use together or not, depending on your use case. Basically:

* `filterOptions` is used to modify the options array
* `getOptions` is used to fetch options

Both these options run on mount/when options are updated and on search if search is enabled.

The package comes with a built-in fuzzy search function based of Fuse.js that @ic

[2021-04-08 22:58] #154 closed

[2021-04-08 22:59] tbleckert commented on #161
Thanks for the report @konstaner  and sorry for the late reply. This was fixed in v3.0.4.

[2021-04-08 22:59] #161 closed

[2021-04-08 23:00] tbleckert commented on #159
@Vovan-VE Very good, thanks for the report. Will look into it.

[2021-04-08 23:02] tbleckert commented on #160
@smart-coder-ru Fixed in v3.0.4

[2021-04-08 23:02] #160 closed

[2021-04-09 10:51] selimdoyranli commented on #171
working on latest version. thank you

[2021-04-13 16:05] saktikanta opened #180 "add required props"
can you add required props to it? its very common to validate field on form submit.

[2021-04-13 16:13] icaroscherma commented on #180
Do you still use `required` instead of your custom validations while using React?

I would recommend you to stir away from this and use something like:
[code]

[2021-04-18 14:27] yigitlevent opened #181 "Fuzzy Search does not search under Groups"
As the title suggests, it does not. Per with example below, when I type "Display" to the search bar, it returns "Not found". It does, however, search group value fields.

**To Reproduce**
[code]

[code]

[code]

**Expected behavior**
Search should also search under the group items.

**Screenshots**
Before search:
![image](https://user-images.githubusercontent.com/6386917/115149058-f8700300-a06a-11

[2021-04-19 11:54] #168 closed

[2021-04-19 11:54] #174 closed

[2021-04-19 11:54] #175 closed

[2021-04-19 12:09] tbleckert commented on #178
Closing this due to inactivity and it seems @icaroscherma answers the question. Also, the full option is sent as a second parameter to the onChange handler.

[code]

Remember that you can use any extra key:values in your option object.

[2021-04-19 12:09] #178 closed

[2021-04-19 16:04] icaroscherma commented on #181
As you're using the `fuzzySearch` premade function, you should note under the Documentation (`README.md`) -> Configuration -> Filter Options -> "[FuzzySearch.js](https://github.com/tbleckert/react-select-search/blob/main/src/fuzzySearch.js) for example" it's only looking for the keys `name` and `groupName`, as you need under your `items.name`, you need to write your own function. ;)

To check how

[2021-04-19 20:58] yigitlevent commented on #181
Ah. I thought built-in function actually worked with groups too, my bad. Thank you for the reply.

[2021-04-19 21:07] icaroscherma commented on #181
I've message @tbleckert this morning once I figured that it might be a good idea to include `items.name`, `items.value`, so in future versions you might get away with default `fuzzySearch`. =)

I'm happy to help. =)

[2021-04-20 06:27] tbleckert commented on #181
@icaroscherma Sweet work around!

And yes @yigitlevent , the built-in function should work with nested items as well. Seems something broke on the latest major release. Will take a look. Thanks for the report, appreciated!

[2021-04-20 06:43] tbleckert commented on #169
Sorry for the late reply @Ronny25 . Yes, seems like something has broken with the controllable state. I'll take a look

[2021-04-24 11:06] tbleckert commented on #181
Fixed and published as v3.0.6

[2021-04-24 11:06] #181 closed

[2021-04-26 20:01] kevinlitardo opened #184 "getOptions call api again when onChange event is saving a value"
When the onChange event is disabled, Select does not call the api when an option is chosen, however when onChange is used, Select call the api everytime an option is chosen, how this can be controlled to avoid those calls ?

https://codesandbox.io/s/select-search-3-test-forked-r24ef?file=/src/App.js:993-1006

[2021-04-26 20:36] icaroscherma commented on #184
Hey @Ricqrdo this happens because once you have a state change in your current component, React redraws your current component.

In your example, `App.js` it's your component itself.
So as you change the value of one state (`setValue` is set in `onChange`), you trigger a component change and it redraws.
Then the `<Select/>` component goes to fetch the options again.

To avoid this you simply have

[2021-05-03 12:51] marsonparulian opened #187 "Missing `debounce` in `SelectSearchProps` type definitions"
Hi,

I am using version 3.0.6.

`debounce` is missing in `SelectSearchProps` type definition in file `./src/index.d.ts`.
This will make typescript compiler produces error if prop `debounce` is used in `<SelectSearch />` component.

I will create a PR to include `debounce` in type def.
Thanks!

[2021-05-04 12:40] #187 closed

[2021-05-04 13:50] marsonparulian opened #189 "Typescript: missing type function in `emptyMessage` prop in type `SelectSearchProps`"
Version : 3.0.6

**To produce the bug**
Instead of `string`, supply `emptyMessage` (in `SelectSearchProps`) with a function returning a string.
This will make `typescript` compiler complains about incompatible type.

Based on `README.md` `emptyMessage` should accepts parameter a string *or* a function returning a string.

**Solution**
I will create a PR to add a function in type definition file :

[2021-05-05 07:01] tbleckert commented on #189
Thanks for the fix and report, included in v3.0.7

[2021-05-05 07:01] #189 closed

[2021-05-06 15:54] ejabu commented on #184
is there any example to achive this ? or is there recommended way to get value from parent component ?

[2021-05-15 22:37] rjworks commented on #181
Help

the fuzzy search is not working

[2021-05-15 22:47] rjworks commented on #181
[code]

[code]
[code]

[code]

Then I type something

![image](https://user-images.githubusercontent.com/46464980/118380208-4a8a4280-b59d-11eb-80c5-29e1a47c626e.png)

[2021-05-16 01:52] rjworks commented on #181
actually the results are empty
![Desktop Screenshot 2021 05 15 - 19 51 44 15 (2)](https://user-images.githubusercontent.com/46464980/118382942-17ed4380-b5b7-11eb-99c6-31a3ffea6678.png)

[2021-05-26 15:12] reekrd opened #192 "Custom class name as string"
When setting a custom class name using a string options are displayed in the dropdown but the value of the input does not update.

[2021-05-26 15:17] reekrd opened #193 "closeOnSelect"
Dropdown still closes when setting closeOnSelect to false. I was hoping I could set this temporarily to be able to inspect the elements in the dropdown.

Actually works when not setting custom class names.

However is there a way to inspect the elements in the dropdown?

[2021-05-27 08:04] reekrd commented on #193
Actually does work. I guess I wasn't clicking on the button element.

Still the question remains how to inspect the dropdown list.

[2021-05-27 08:04] #193 closed

[2021-05-30 07:19] vikas-bansal-DisneyPH opened #194 "close icon / reset option"
**Is your feature request related to a problem? Please describe.**
it would be awesome to have a clear icon in the input

[2021-06-12 07:21] Mokin711 opened #197 "Couldn't find the css class for placeholder text color"
I am looking for the css class that is responsible for styling the placeholder text in search, specifically the color. I went to the style.css and tried every single class provided but none of them seemed to work.

[2021-06-23 10:38] Erkamal1990 opened #198 "search not working in react -17"
react - 16 work absolute fine but   react -17 search not working

[2021-06-23 16:02] ziyafenn commented on #181
@rjworks `npm install fuse.js@3`

[2021-06-24 01:31] rjworks commented on #181
Thanks man! It works

[2021-06-24 01:35] rjworks commented on #181
Is there a scroll to the top when the user enters something in the search bar?

[2021-06-24 02:58] rjworks opened #199 "search not working in groups"
fuzzy search.js:
[code]

SelectSearch

[code]

It only filters the group name, and not the items within the group

[2021-06-24 19:59] shreyasrh9 opened #200 "Scroll menu options on pressing down or up arrow key"
## Problem

If a user presses the down/up array key the option getting highlighted will change but it won't scroll to the highlighted option.

## Solution

If we set a ref to the button tag in the option.js and scroll to the option using ref.current.scrollIntoView(); when the down/up arrow key is pressed.

### Current problem

![ezgif com-gif-maker](https://user-images.githubusercontent.com/296213

[2021-06-28 08:23] tbleckert commented on #200
Fixed in v3.0.8

[2021-06-28 08:23] #200 closed

[2021-06-28 08:25] tbleckert commented on #197
Hi @Mokin711 ! If you use the built-in components, you can change the placeholder color with:

[code]

[2021-06-28 08:25] #197 closed

[2021-06-28 08:26] tbleckert commented on #194
Thanks for the idea @vikas-bansal-DisneyPH , see this discussion https://github.com/tbleckert/react-select-search/discussions/183

[2021-06-28 08:26] #194 closed

[2021-07-08 13:18] markyoxall commented on #199
I have used the same approach and am experiencing the same problem - filters to groups but not the group items.

[2021-07-08 13:20] AmyAmy commented on #172
Running into the same issue, created PR.

[2021-07-15 09:51] devagja opened #204 "Add virtual scroll"
I miss a prop to allow a virtual scroll for the options,
thiswill great!

[2021-07-15 16:49] hylickipiotr commented on #21
Hi I want to ask if this feature will be available?

[2021-07-16 16:49] foadabdollahi commented on #198
try it:

[code]

[2021-07-20 22:53] #172 closed

[2021-07-25 23:00] khughitt commented on #8
Did you end up adding an explicit mechanism to limit the number of items?

I checked the docs but didn't see anything along these lines.

[2021-07-29 09:20] khughitt commented on #8
Nm, found the relevant change.

In case it helps anyone else, here is the relevant example: https://github.com/tbleckert/react-select-search/blob/1a3f24ae2225a2555dd623b28a9d9a9d9b48a16f/stories/0-Single.stories.js#L95

The basic solution is to modify `filterOptions` to include a call to `.slice(0, n)` on the returned result.

[2021-07-29 09:27] khughitt commented on #171
In case anyone else runs into issues with more recent versions of fuse.js (e.g. "options.xx is undefined"), I was able to get it working by simply unpacking the matched optiosn from the fuse query result, e.g.:

[code]

[2021-08-19 12:57] jibin2706 commented on #99
@handrei getting the following type error
[code]

[2021-08-26 17:43] ChechurinSerhiy opened #206 "Add prop 'name' for <input ... />"

[2021-09-13 19:38] Antonji-py commented on #199
have the same issue

[2021-09-14 06:57] markyoxall commented on #199
I eventually went with react-select as this did everything.

[2021-09-14 17:23] arkzky commented on #184
Your explanation is correct, but then what is the point on having the `getOptions` prop if is not compatible with the `onChange` event, which is the primary way to get the selected value from this component.

The live demo's doesn't even have this case tested, and should be one of the core ones!

[2021-09-14 19:28] mayckxavier commented on #136
+1

[2021-09-18 14:25] svyatik commented on #206
@ChechurinSerhiy you can use "Custom renderers" to pass any attributes you want to input field.

`<SelectSearch renderValue={(valueProps) => <input {...valueProps} name="input-name" />} />`
See more info: https://www.npmjs.com/package/react-select-search#custom-renderers

[2021-09-28 04:32] Vovan-VE commented on #198
Thanks to @foadabdollahi !

@tbleckert , there should be changelog to describe breaking changes.

[2021-09-30 07:50] AndrejGajdos commented on #103
[custom implementation example](https://react-select-search.com/?path=/story/hooks--custom-components) shows how to rebuild whole component completely, not a single `renderValue`

[2021-10-06 14:34] chozze opened #212 "Option list is not scrolling when using react-select-search-nextjs"
**Describe the bug**
Option list is not scrolling when using react-select-search-nextjs with keyboard navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a list of options, set height to container and try to navigate by keyboard. Option list is not scrolling into view.

Everyting works fine with `react-select-search`, but it produce `SyntaxError: Unexpected token 'export'` when

[2021-10-06 18:53] khughitt opened #213 "Add option to render select menu *above* input box?"
**Overview**

It would be useful, in some cases, to render a search box at the _bottom_ of a page, and have the options appear _above_ it.

**Solution**

Add an option to specify the behavior with respect to menu placement.

For consistency, it might be worth considering adopting the `menuPlacement="top"` syntax of react-select?

A clear and concise description of what you want to happen.

**Alter

[2021-10-16 22:43] IzoldaV commented on #136
You can use a custom renderer to do this. The library has a renderValue property that accepts a function that will render the input field. You can also specify your classname for the select and add a pseudo-element with a search icon for divs that wraps the value-input.

[2021-10-18 22:02] skewty opened #214 "Clicking [down] / [expand] button does not toggle state as expected"
When I click on the expand button the control shows me my options.
When I click on the expand button again, nothing happens.
The expectation is for the options to be hidden (toggle).

The toggle behaviour is standard for all major UI toolkits as far as I know.

[2021-10-20 15:05] bhavin-a opened #215 "Input doesn't shows selected options if search is enabled"
**Describe the bug**
Multi select doesn't show options if the search is enabled

**To Reproduce**
Steps to reproduce the behavior:

1. Open [this](https://codesandbox.io/s/hungry-ptolemy-55bh0?file=/src/App.js) code sandbox
2. Click on `Select...`
3. Select an option.
4. The input shows nothing

**Expected behavior**
The input should populate values as user selects them

**Desktop (please complete

[2021-10-23 22:29] khughitt opened #216 "Possible to specify default selected option?"
Greetings!

I was wondering if there is a way to indicate which option should be selected and displayed in the input, by default?

Based on an [earlier issue](https://github.com/tbleckert/react-select-search/issues/62), it seems like this should be possible, but I couldn't find any examples of how to achieve this.

I tried:

1. setting `selected="selected"` for the default opt, and,
2. setting the

[2021-10-27 08:11] KasparRosin opened #217 "Add ChangeLog/Release notes"

[2021-10-31 04:12] AlexBasile123 opened #218 "Search bar shouldn't be visible in Modal"
**Describe the bug**
When invoking a modal popup, the search bar shows up in the modal.
I haven't changed select-search.css much, with exception of colors.
There must be some opacity property that could be set on the search bar.
Thanks in advance!

**To Reproduce**
Steps to reproduce the behavior:
1. Invoke modal that covers search bar
2. You should see the search bar visible

**Expected behavior*

[2021-10-31 04:14] AlexBasile123 commented on #218
Nevermind. Just found it by setting opacity to 0 in .select-search__input

[2021-10-31 04:14] #218 closed

[2021-11-01 03:50] nayarahilton commented on #212
The same here.

[2021-11-24 03:44] bviala opened #219 "No option is selected if setting the options after the value"
Hello.
Not sure if bug or feature request:
In projects dealing with APIs, it can happen that you know the value of a select (eg a ressource id provided as query param) before you have fetched the list of options.

Currently if you do that, the select stays in its default state, showing no option selected.

**Sample code**
[code]
**Expected behavior**
When setting a value first, then the options, t

[2021-12-06 01:46] no-1ne opened #220 "After Search, selection of results doesnt work show the chosen items"
**Describe the bug**
https://react-select-search.com/?path=/story/single-select--search if we search for something and select the results, it doesnt reflect the chosen option

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-select-search.com/?path=/story/single-select--search
2. Search for anything
3. Pick an item in the filtered results
4. See error

**Expected behavior**

[2021-12-15 09:26] k-grube opened #221 "Controlled value with multiple not working as expected"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
https://codesandbox.io/s/busy-thompson-zhldb?file=/src/App.js
1. select 2 options
2. try to select another option, it should not be allowed, but the option is selected

**Expected behavior**
selected values should reflect the value prop passed in

**Screenshots**
See code sandbox

**Desktop (please complete

[2021-12-20 09:41] foadabdollahi opened #222 "multiple scroll item go to top problem"
**Describe the bug**
when  have more option ( for example 20) and set multiple={true}. if scroll down and select one option, list automatically scroll top and I must again scroll down to find next option.

**Desktop (please complete the following information):**
 - OS: windows 10
 - Browser chrome
 - Version 96.0.4664.110

[2021-12-25 11:49] mahdin75 commented on #222
I faced the same issue +1.

[2022-01-01 08:57] Bhavin789 commented on #215
Hi @tbleckert , do we aim to solve this one soon? Thanks!

[2022-01-01 12:39] mahdin75 commented on #222
Is there no way to solve this issue?

[2022-01-07 08:42] sohail-saha-iv commented on #198
Please have this included in the docs or something.

[2022-01-08 17:29] cbaucom commented on #124
@tbleckert - I'm trying to achieve something similar where I just want to start typing and press Enter without having to navigate down into the dropdown list (My first option in my dropdown is "show all results" for whatever you are searching).

If this issue is still open, do you know another way to handle this?

[2022-01-14 09:09] otienog1 commented on #220
I have experienced the same bug. Am trying a work around

[2022-01-14 09:10] mmv93 commented on #220
Same bug for me. Downgraded to 2.x version

[2022-01-23 17:50] poornerd commented on #219
+1

[2022-02-03 19:30] mattoni commented on #213
Would also like to see this - selects rendered at the bottom of the page either jump the scrollbar, or get cut off.

[2022-02-03 21:24] dolby360 commented on #220
I have the same issue

[2022-02-03 21:24] dolby360 commented on #220
I'm not sure how it should work on react

[2022-02-05 08:47] hobofan commented on #120
For anyone stumbling upon this: This seems to have been resolved via #202. (Updating to `3.0.9` solved it for me)

[2022-02-10 19:05] tada-s opened #225 "Can't state update on unmounted component warning when SelectSearch with getOptions flashes"
In this scenario, the SelectSearch has a `getOptions` property set. When this component flashes (i.e., it is unmounted and mounted rapidly), the following warning raises on the browser:

I found in [useFetch.js Line 22](https://github.com/tbleckert/react-select-search/blob/5747fc0c7e4e7f9528b759946741bd3d89906885/src/useFetch.js#L22) that `setFetching()` was the state update that causes this warni

[2022-02-10 19:07] tada-s commented on #225
Do you think this workaround is good enough for a pull request?

[2022-02-24 11:44] charles-aguiar commented on #220
I have experienced the same bug.

[2022-02-24 12:52] charles-aguiar commented on #220
What worked for me is to store the value on a state, and pass a setter to the "onChange" property. Note that this is not done at https://react-select-search.com/?path=/story/single-select--search.

`
export const Search = () => {
    const [selected, setSelected] = useState(null);

    console.log({ selected });

    return (
        <SelectSearch
            options={countries}
            search

[2022-02-24 18:04] jgarmar opened #226 "emptyMessage doesn't supports ()=>JSX.Element"
**Describe the bug**
Example isn't working:

<SelectSearch
              options={options}
              search
              filterOptions={fuzzySearch}
              emptyMessage={() => (
                <div style={{ textAlign: "center", fontSize: "0.8em" }}>
                  Not found renderer
                </div>
              )}
              placeholder="Select your country"

[2022-03-21 08:53] redimongo opened #227 "Search Australia multiple selection (Type Australia)"
**Describe the bug**
Won't select Australia when you search Australia and then even after you put comma and try and type another country it does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://react-select-search.com/?path=/story/multiple-select--search'
2. Search Australia - try and select it (I could not), then type in Australia, then try any other country like New

[2022-03-22 20:53] Gr1mdrag0n commented on #220
I've also got the same bug.  onChange doesn't seem to return any value so I can't store the value in state as a workaground.

[2022-04-07 13:33] bouguila commented on #219
any solution/workaround for this one?

[2022-05-12 14:48] JuliaNsk opened #234 "need to save selected values after search"
**Describe the bug**
When I have selected options, and then use filtering and select new one - the previous were removed. How could I save new one with search field and previous?

<img width="227" alt="Снимок экрана 2022-05-12 в 17 47 49" src="https://user-images.githubusercontent.com/13620437/168103518-f9897d1e-0ab4-4637-bd5a-7cffd9c0d4b3.png">
<img width="235" alt="Снимок экрана 2022-05-12 в 17

[2022-05-17 16:19] yujun2017 opened #235 "Remove single selection value"
We would like to remove selected single value, is it possible?  For the multiple selection, we do notice we can clean selected value. but it is not for single selection.

[2022-05-20 13:12] TonyCh55 opened #236 "Add React 18 support"

[2022-06-01 09:32] anubhav-sl opened #237 "Controlled search input"
Any way I can manage the state of search input ?

[2022-06-03 14:12] Frozzy6 opened #238 "Old values is missing after search and set new value"
https://github.com/tbleckert/react-select-search/blob/a42a84ff9ea049f5ba9368841e4375cee1cd8486/src/useSelect.js#L103

controlled multiple with fuzzy search

1. Choose options
2. Search options witch does not include previous
3. Choose another
4. Previous value is missing

I bet "options" should change to "defaultOptions"

[2022-06-19 04:20] mannoeu opened #240 "Async Input fetch when focus out"
**Describe the bug**
Async inputs are performing a fetch promise when focus out.

**To Reproduce**
Steps to reproduce the behavior:
1. Instantiate a new Async Input

[code]
3. When losing focus, a promise is executed (but there is no need as the box is closed and the field value is reset.)

**Expected behavior**
It would not be necessary to fulfill the promise when the input loses focus unless the

[2022-06-21 21:23] spaceComplexitys opened #241 "Example Not Working"
**Describe the bug**
404 not found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ReadMe Demo
2. Click on https://react-select-search.com/
3. See error

**Expected behavior**
Shows Not found in the web page

[2022-06-22 08:37] #241 closed

[2022-06-22 08:38] tbleckert commented on #236
Added in v3.0.10 thanks to #239

[2022-06-22 08:38] #236 closed

[2022-06-22 11:37] tbleckert commented on #235
You can control the value yourself with a state like this:

[code]

So at any time you can just call `setValue(null)` to reset or change the value. Works for both single and multiple selects.

See this [story](https://react-select-search.com/?path=/story/events--controlled-value) for more info.

[2022-06-22 11:47] tbleckert commented on #221
Thanks!

As you said, this is a bug, or rather a design flaw. Need to add support for fully controllable values. Right now the internal value is always updated. Workaround below but will keep this open until a fix is released.

The onChange handler is set after the value has been updated. What happens in your code is that you stop tracking the value after 2 has been chosen. What you need to do is

[2022-06-22 11:48] tbleckert commented on #226
Thanks for the report, will fix asap!

[2022-06-22 11:54] tbleckert commented on #225
Thanks for the report @tada-s  . It's a good workaround but would also need to exist inside the debounced promise. A more robust solution would be to move the `setOptions` call to a function and have your mount check there.

[2022-06-22 11:59] tbleckert commented on #134
You need to use the `onChange` callback

[2022-06-22 11:59] #134 closed

[2022-06-22 12:03] #136 closed

[2022-07-12 10:45] TonyCh55 opened #242 "Select doesn't close on click to it"
When click on select it opens and when to click it again it doesn't close

[2022-07-12 10:51] TonyCh55 opened #243 "After use with Tab button and click on options - highlighting works incorrect"

[2022-07-12 10:57] TonyCh55 opened #244 "onFocus and onBlur doesn't work"
<img width="823" alt="image" src="https://user-images.githubusercontent.com/39292862/178474942-4281e557-2716-4619-90d0-8e5b32667550.png">

[2022-07-26 07:02] haresh6x opened #246 "Show checkbox for multi-select"
Is there any way to show checkbox for each item in multi-select dropdown?

[2022-08-10 10:10] adiled commented on #242
Anyone facing this, remove `multiple` option form your props, and also make sure if you're using a custom `renderOption`, the first parameter is props that you need to forward like so:
[code]

[2022-08-18 01:13] ztroop opened #247 "Search Options Overlapped by Other Elements Below"
Hello! I'm using the latest version of `react-select-search` and I noticed when clicking the search, the options below are overlapped by other elements. I tried overriding `.select_search__select` with `z-index: 999 !important` but it didn't seem to help. Is there anything else I can do?

[2022-08-19 19:39] #247 closed

[2022-08-19 19:42] ztroop opened #248 "Search Does Not Filter Items"
Using the latest version of `react-select-search`, I'm trying to use the "search" functionality as [demonstrated here](https://react-select-search.com/?path=/story/default--search).

[code]

What I get is a select menu that shows the options, lets me type in the bar, but doesn't filter as I would expect.

[2022-08-24 09:34] gregor-gh commented on #248
I had the same problem, had to add a filterOption prop, it appears there isn't a default filtering function in the current version (don't know if there ever was).

`import { fuzzySearch } from "react-select-search";`

`<SelectSearch filterOptions={fuzzySearch} ......... />`

Though I wasn't happy with the default fuzzy search so I tweaked it to stop is sorting the list by fuzzyness and decrease th

[2022-08-29 15:27] karna41317 commented on #248
[code]

import { fuzzySearch } from "react-select-search";

<SelectSearch filterOptions={fuzzySearch}  options={countries} search />

this does not work, tried with above Fuse example, still no luck

[2022-09-03 19:35] Ulisses1478 commented on #222
anyone?

[2022-09-06 00:10] ztroop commented on #248
@gregor-gh Your suggestion was correct. `filterOptions` was a prop I was unaware of, as it's not shown in the *Storybook* example usage. I think a documentation update would be ideal.

[2022-09-18 09:51] kerams commented on #217
I could really use this right now. V4 has just dropped. Can I upgrade? What are the (breaking) changes? Who knows!

[2022-09-27 01:28] avianheit07 opened #249 "additional steps in onChange"
`
const [selected, setSelected] = useState('');
       <SelectSearch
          options={[]}
          value={selected}
          onChange={setSelected}
          getOptions={(query) => {
            return new Promise((resolve, reject) => {
                HTTP_API().get(url)
                  .then((response) => {
                    if (response.status === 200) {
                      resolve(re

[2022-10-04 02:33] colin-peter commented on #244
@tbleckert just a heads up that it works, only that the `SelectSearchProps` needs to include the `onFocus` prop

[2022-10-10 16:37] cjadhav commented on #243
@TonyCh55, did you found any solution for this issue.?

[2022-10-10 17:04] cjadhav commented on #200
Hi Guys,

Like we highlight option using keyboard arrow "up/down" key and select the same using "Enter" key.

Do we have any provision to select option with tab after hightlighting.??

Thanks